<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{fragment.current.patient.navigation.left.current.medications.prescription}">prescription</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>
<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div th:replace="current-patient/fragments/navigation::navigation-left">navigation-left</div>
        </div>
        <div class="col-9">
            <div th:replace="current-patient/current-medications/fragments/navigation::navigation-top">navigation-top</div>
            <div class="btn-toolbar float-right" role="toolbar">
                <div class="btn-group btn-group-sm mr-2" role="group">
                    <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>
                    <a href="#" class="btn btn-primary" th:styleappend="${!prescriptionCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/current-medications/prescription/view-section')}" th:text="#{ips.translate.button.original}">Initial version</a>
                    <a href="#" class="btn btn-primary" th:styleappend="${prescriptionCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/current-medications/prescription/view-section')}" th:text="#{ips.translate.button.translated}">Translated version</a>
                </div>
            </div>
            <p><h5 th:text="#{fragment.current.patient.navigation.left.current.medications.prescription}">prescription</h5></p>

            <p><button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                        th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.filter}">Filter</button></p>
            <p class="col-form-label" th:if="${isFiltered}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered}">Filtered list</p>
            <p class="col-form-label" th:if="${isEmpty}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.empty}">Empty list</p>
            <div class="collapse" id="collapseExample">
                <div class="btn-toolbar float-left" role="toolbar">
                    <div class="btn-group btn-group-sm mr-2" role="group">
                        <form th:action="@{/current-patient/current-medications/prescription/view-section}" method="get">
                            <input id="txtSearch" type="text" name="keyword" th:value="${session.keyword}">
                            <button type="submit" class="btn btn-primary" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.filter.by.drug.name}">Filter by drug name</button>
                            <input type="button" class="btn btn-light" name="reset" th:value="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.reset}" onclick="customReset();"/>
                        </form>
                    </div>
                </div>
            </div>

            <table id="table" class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.name}">Drug Name</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.dosage}">Drug Dosage</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.timings}">Timings</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.status}">Status</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pr : ${prescriptionCommand.getPrescriptionInfoCommand()}">
                    <td style="background-color: azure" th:style="${!prescriptionCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${pr.getDrugName()}"></td>
                    <td th:text="${pr.getDrugDosage()}"></td>
                    <td th:utext="${pr.getTimings() + '<br/>'}"></td>
                    <td th:text="${pr.getStatus()}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary" th:href="@{/current-patient/current-medications/prescription/idToMedication(
                            id=${{pr.getId()}},
                            drug=${{pr.getDrugName()}},
                            status=${{pr.getStatus()}},
                            notes=${{pr.getNotes()}},
                            timings=${{pr.getTimings()}},
                            drugDosage=${{pr.getDrugDosage()}},
                            dateOfPrescription=${{pr.getDateOfPrescription()}},
                            start=${{pr.getStart()}},
                            end=${{pr.getEnd()}})}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.medication.details}">Medication Details</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <p th:if="${!listPrescriptions.isEmpty()}"><br>
            <h5 th:if="${!listPrescriptions.isEmpty()}"
                th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.prescription.to.upload.in.sehr}">Prescription to upload in S-EHR</h5></p>
            <table id="uploadTable" class="table table-bordered" th:if="${!listPrescriptions.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.name}">Drug Name</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.dosage}">Drug Dosage</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.timings}">Timings</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.status}">Status</th>
                    <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.actions}">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="prUpload : ${listPrescriptions}">
                    <td th:text="${prUpload.getDrugName()}"></td>
                    <td th:text="${prUpload.getDrugDosage()}"></td>
                    <td th:utext="${prUpload.getTimings() + '<br/>'}"></td>
                    <td th:text="${prUpload.getStatus()}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary" th:href="@{/current-patient/current-medications/prescription/idToMedication(
                            id=${{prUpload.getId()}},
                            drug=${{prUpload.getDrugName()}},
                            status=${{prUpload.getStatus()}},
                            notes=${{prUpload.getNotes()}},
                            timings=${{prUpload.getTimings()}},
                            drugDosage=${{prUpload.getDrugDosage()}},
                            dateOfPrescription=${{prUpload.getDateOfPrescription()}},
                            start=${{prUpload.getStart()}},
                            end=${{prUpload.getEnd()}})}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.medication.details}">Medication Details</a>

                            <a href="#"
                               th:href="@{/current-patient/current-medications/prescription/open-update-page(id=${{prUpload.getId()}})}" class="btn btn-info"
                               th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.edit}">Edit</a>
                            <a href="#"
                               th:href="@{/current-patient/current-medications/prescription/delete(drugId=${{prUpload.getId()}})}" class="btn btn-danger"
                               th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.delete}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:if = "${totalPages > 1}">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.total.rows} + ' ' + ${totalItems}">Total Rows: totalItems</a>
                    </li>
                    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a class="page-link"  th:if="${currentPage != i}"
                           th:href="@{'/current-patient/current-medications/prescription/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span class="page-link disabled" style="color: white; background-color: dodgerblue" th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
                    </li>
                    <li class="page-item">
                        <a class="page-link"  th:if="${currentPage < totalPages}"
                           th:href="@{'/current-patient/current-medications/prescription/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.next}">Next</a>
                        <span class="page-link disabled" style="color: white; background-color: lightgray" th:unless="${currentPage < totalPages}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.next}">Next</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link"  th:if="${currentPage < totalPages}"
                           th:href="@{'/current-patient/current-medications/prescription/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"
                           th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.last}">Last</a>
                        <span class="page-link disabled" style="color: white; background-color: lightgray" th:unless="${currentPage < totalPages}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.last}">Last</span>
                    </li>
                </ul>
            </nav>

            <div class="btn-toolbar float-right" role="toolbar">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary"
                       th:href="@{/current-patient/current-medications/prescription/open-add-page}"
                       th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.add}">Add</a>
                </div>
            </div>

            <div class="btn-toolbar float-left" role="toolbar" th:if="${(!listPrescriptions.isEmpty()) && (prescriptionService.getConnectedThread() != null)}">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-outline-primary"
                       th:href="@{/current-patient/current-medications/prescription/sendToSehr}"
                       th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.send.to.sehr}">Send to S-EHR</a>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function customReset()
    {
        document.getElementById("txtSearch").value = "";
    }
</script>



<!--Advanced table with filtration and pagination-->

<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#table').DataTable();-->
<!--    } );-->
<!--</script>-->
<!--<script>-->
<!--    $(document).ready(function() {-->
<!--        $('#uploadTable').DataTable();-->
<!--    } );-->
<!--</script>-->
</body>
</html>