<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.current.medications.prescription}">Prescription</title>
</head>
<body>
<div layout:fragment="content">
<!--    <div th:replace="current-patient/current-medications/fragments/navigation::navigation-top">navigation-top</div>-->
    <div class="m-5"></div>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>
            <a href="#" class="btn btn-primary" th:styleappend="${!prescriptionCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"
               th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/current-medications/prescription/view-section')}"
               th:text="#{ips.translate.button.original}">Initial version</a>
            <a href="#" class="btn btn-primary" th:styleappend="${prescriptionCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"
               th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/current-medications/prescription/view-section')}"
               th:text="#{ips.translate.button.translated}">Translated version</a>
        </div>
    </div>
    <h3 th:text="#{fragment.current.patient.navigation.left.current.medications}">Current Medications</h3>
    <br>
    <div th:if="${!listPrescriptionsSEHR.isEmpty() || isFiltered || isEmpty}">
        <p><button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"
                   th:text="#{button.filter.arrow}">Filter</button></p>
        <p class="col-form-label" th:if="${isFiltered}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered}">Filtered list</p>
        <p class="col-form-label" th:if="${isEmpty}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.empty}">Empty list</p>
        <div class="collapse" id="collapseExample">
            <div class="btn-toolbar float-left" role="toolbar">
                <div class="btn-group btn-group-sm mr-2" role="group">
                    <form th:action="@{/current-patient/current-medications/prescription/view-section}" method="get">
                        <input id="txtSearch" type="text" name="keywordPrescription" th:value="${session.keywordPrescription}">
                        <button type="submit" class="btn btn-primary"
                                th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.filter.by.drug.name}">Filter by drug name</button>
                        <input type="button" class="btn btn-light" name="reset" th:value="#{button.reset}" onclick="customReset();"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <table id="table" class="table table-bordered" th:if="${!listPrescriptionsSEHR.isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.name}">Drug Name</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.drug.dosage}">Drug Dosage</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.timings}">Timings</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.status}">Status</th>
            <th th:text="#{button.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pr : ${listPrescriptionsSEHR}">
            <td style="background-color: azure" th:style="${!prescriptionCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${pr.getDrugName()}"></td>
            <td th:text="${pr.getDrugDosage()}"></td>
            <td th:utext="${pr.getTimings()} + ' ' + #{fragment.current.patient.navigation.left.current.medications.prescription.medication.times.per.day}"></td>
            <td>
                <th:block th:switch="${pr.getStatus().toLowerCase()}">
                    <div th:case="'active'">
                        <p th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.active}">Active</p>
                    </div>
                    <div th:case="'on hold'">
                        <p th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.on.hold}">On-Hold</p>
                    </div>
                    <div th:case="'stopped'">
                        <p th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.stopped}">Stopped</p>
                    </div>
                </th:block>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary" th:href="@{/current-patient/current-medications/prescription/idToMedicationSEHR(id=${{pr.getId()}})}"
                       th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.medication.details}">Medication Details</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <nav th:if = "${totalPagesSEHR > 1}">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#"
                   th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.total.rows} + ' ' + ${totalItemsSEHR}">Total Rows: totalItems</a>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPagesSEHR)}">
                <a class="page-link"  th:if="${currentPageSEHR != i && session.keywordPrescription != null && !session.keywordPrescription.trim().equalsIgnoreCase('')}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${i} + ${session.keywordPrescription}}">[[${i}]]</a>
                <a class="page-link"  th:if="${(currentPageSEHR != i && session.keywordPrescription == null) || (currentPageSEHR != i && session.keywordPrescription.trim().equals(''))}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${i} + '/empty'}">[[${i}]]</a>
                <span class="page-link disabled" style="color: white; background-color: dodgerblue" th:unless="${currentPageSEHR != i}">[[${i}]]</span>  &nbsp; &nbsp;
            </li>
            <li class="page-item">
                <a class="page-link"  th:if="${currentPageSEHR < totalPagesSEHR && session.keywordPrescription != null && !session.keywordPrescription.trim().equalsIgnoreCase('')}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${currentPageSEHR + 1} + ${session.keywordPrescription}}"
                   th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.next}">Next</a>
                <a class="page-link"  th:if="${(currentPageSEHR < totalPagesSEHR && session.keywordPrescription == null) || (currentPageSEHR < totalPagesSEHR && session.keywordPrescription.trim().equals(''))}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${currentPageSEHR + 1} + '/empty'}"
                   th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.next}">Next</a>
                <span class="page-link disabled" style="color: white; background-color: lightgray" th:unless="${currentPageSEHR < totalPagesSEHR}"
                      th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.next}">Next</span>
            </li>
            <li class="page-item">
                <a class="page-link"  th:if="${currentPageSEHR < totalPagesSEHR && session.keywordPrescription != null && !session.keywordPrescription.trim().equalsIgnoreCase('')}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${totalPagesSEHR} + ${session.keywordPrescription}}"
                   th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.last}">Last</a>
                <a class="page-link"  th:if="${(currentPageSEHR < totalPagesSEHR && session.keywordPrescription == null) || (currentPageSEHR < totalPagesSEHR && session.keywordPrescription.trim().equals(''))}"
                   th:href="@{'/current-patient/current-medications/prescription/view-section/page/' + ${totalPagesSEHR} + '/empty'}"
                   th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.last}">Last</a>
                <span class="page-link disabled" style="color: white; background-color: lightgray" th:unless="${currentPageSEHR < totalPagesSEHR}"
                      th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.pagination.last}">Last</span>
            </li>
        </ul>
    </nav>
    <div class="row justify-content-end" th:if="${session.emergency != null && session.emergency.equalsIgnoreCase('EMERGENCY')}">
        <a class="btn btn-primary" th:href="@{/current-patient/current-medications/prescription/refresh-data}">Refresh data</a>
    </div>
</div>

</body>
</html>