<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription}">prescription</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
          th:href="@{/webjars/bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div th:replace="current-patient/fragments/navigation::navigation-left">navigation-left</div>
        </div>
        <div class="col-9">
            <div class="m-3"></div>
            <h2>Add Prescription information</h2>
            <div class="m-5"></div>
            <form action="#" th:action="@{/current-patient/medication-summary/prescription/save-add}" th:object="${medicationSummaryPrescriptionInfoCommand}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Please correct the errors below</p>
                </div>
                <div class="form-row">

                    <div class="col-md-6">
                        <label for="drugName" th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.drug.name}">Drug name</label>
                        <input id="drugName" type="text" class="form-control" th:classappend="${#fields.hasErrors('drugName')} ? 'is-invalid' :''" th:field="*{drugName}"/>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('drugName')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('drugName')}" th:text="${err}">err</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="drugDosage" th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.drug.dosage}">Drug Dosage</label>
                        <input id="drugDosage" type="text" class="form-control" th:classappend="${#fields.hasErrors('drugDosage')} ? 'is-invalid' :''" th:field="*{drugDosage}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('drugDosage')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('drugDosage')}" th:text="${err}">err</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-2"><br>
                        <label for="status" th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.status}">Status</label><br>
                        <select class="form-control" id="status" th:field="*{status}">
                            <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="Active">Active</option>
                            <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="Suspended">Suspended</option>
                            <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="Stopped">Stopped</option>
                        </select>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('status')}" th:text="${err}">err</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-10"><br>
                        <label for="notes" th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.notes}">Notes</label><br>
                        <input id="notes" type="text" class="form-control" th:classappend="${#fields.hasErrors('notes')} ? 'is-invalid' :''" th:field="*{notes}">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('notes')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('notes')}" th:text="${err}">err</li>
                            </ul>
                        </div>
                    </div>
                </div><br>

                <p th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.timings}">Timings</p>
                <div class="form-row">
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label for="frequency" class="col-sm-4 col-form-label">Frequency</label>
                            <div class="col-sm-6">
                                <input id="frequency" type="text" class="form-control" th:classappend="${#fields.hasErrors('frequency')} ? 'is-invalid' :''" th:field="*{frequency}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('frequency')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('frequency')}" th:text="${err}">err</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="period" class="col-sm-4 col-form-label">Period</label>
                            <div class="col-sm-6">
                                <input id="period" type="text" class="form-control" th:classappend="${#fields.hasErrors('period')} ? 'is-invalid' :''" th:field="*{period}">
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('period')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('period')}" th:text="${err}">err</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="periodUnit" class="col-sm-4 col-form-label">Period unit</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="periodUnit" th:field="*{periodUnit}">
                                    <option selected value="">Choose...</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="minute">minute</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="hour">hour</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="day">day</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="week">week</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="month">month</option>
                                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('periodUnit')} ? 'is-invalid' :''" value="year">year</option>
                                </select>
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('periodUnit')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('periodUnit')}" th:text="${err}">err</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4"><br>
                        <label for="dateOfPrescription" th:text="#{fragment.current.patient.navigation.left.medication.summary.prescription.medication.dateofprescription}">Date of Prescription</label><br>
                        <input id="dateOfPrescription" type="text" class="form-control" th:classappend="${#fields.hasErrors('dateOfPrescription')} ? 'is-invalid' :''" readonly th:field="*{dateOfPrescription}" placeholder="Choose...">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfPrescription')}">
                            <ul>
                                <li th:each="err : ${#fields.errors('dateOfPrescription')}" th:text="${err}">err</li>
                            </ul>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                $('#dateOfPrescription').datetimepicker({
                                    format: 'dd-mm-yyyy',
                                    minView: "month"
                                });
                            });
                        </script>
                    </div>
                </div>

                <div class="text-right"><br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>