<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.current.diseases}">current diseases</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <p><h2 th:text="#{fragment.current.patient.navigation.left.current.diseases.add}">add current disease</h2></p>
    <div class="m-5"></div>
    <form  action="#" th:action="@{/current-patient/current-diseases/save-add}" th:object="${currentDiseaseInfoCommand}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">please correct the errors below</p>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="disease" th:text="#{fragment.current.patient.navigation.left.current.diseases.disease}">disease</label>
                <input id="disease" type="text" class="form-control" th:classappend="${#fields.hasErrors('disease')} ? 'is-invalid' :''" th:field="*{disease}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('disease')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('disease')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <label for="comment" th:text="#{fragment.current.patient.navigation.left.current.diseases.comment}">comment</label>
                <input id="comment" type="text" class="form-control" th:classappend="${#fields.hasErrors('comment')} ? 'is-invalid' :''" th:field="*{comment}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('comment')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('comment')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div><br>
        <div class="form-row">
            <div class="col-md-4">
                <label for="dateOfDiagnosis" th:text="#{fragment.current.patient.navigation.left.current.diseases.date.of.diagnosis}">dateOfDiagnosis</label>
                <input id="dateOfDiagnosis" type="text" class="form-control" th:classappend="${#fields.hasErrors('dateOfDiagnosis')} ? 'is-invalid' :''" readonly th:field="*{dateOfDiagnosis}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfDiagnosis')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('dateOfDiagnosis')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#dateOfDiagnosis').datetimepicker({
                            format: 'dd-mm-yyyy',
                            minView: "month"
                        });
                    });
                </script>
            </div>
            <div class="col-md-4">
                <label for="endDateOfDiagnosis" th:text="#{fragment.current.patient.navigation.left.current.diseases.end.date.of.diagnosis}">dateOfDiagnosis</label>
                <input id="endDateOfDiagnosis" type="text" class="form-control" th:classappend="${#fields.hasErrors('endDateOfDiagnosis')} ? 'is-invalid' :''" readonly th:field="*{endDateOfDiagnosis}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('endDateOfDiagnosis')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('endDateOfDiagnosis')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#endDateOfDiagnosis').datetimepicker({
                            format: 'dd-mm-yyyy',
                            minView: "month"
                        });
                    });
                </script>
            </div>
        </div>
        <div class="text-right"><br>
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">save</button>
        </div>
    </form>
</div>
</body>
</html>