<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.current.diseases}">Current Diseases</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
<!--    <div class="btn-toolbar float-right" role="toolbar">-->
<!--        <div class="btn-group btn-group-sm mr-2" role="group">-->
<!--            <div class="btn-group mr-2" role="group">-->
<!--                <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>-->
<!--                <a href="#" class="btn btn-primary" th:styleappend="${!currentDiseaseCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/current-diseases/view-section')}" th:text="#{ips.translate.button.original}">Initial version</a>-->
<!--                <a href="#" class="btn btn-primary" th:styleappend="${currentDiseaseCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"  th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/current-diseases/view-section')}" th:text="#{ips.translate.button.translated}">Translated version</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <h3 th:text="#{fragment.current.patient.navigation.left.current.diseases}">Current Diseases</h3>
    <br>
    <table class="table table-bordered" th:if="${!currentDiseaseCommand.getCurrentDiseaseInfoCommand().isEmpty()}">
        <thead class="thead-light">
        <tr>
            <!--                        <th th:text="#{template.current.patient.currentDisease.list.statement.code}">code</th>-->
            <th th:text="#{fragment.current.patient.navigation.left.allergies.Resource}">Resource</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.diseases.disease}">disease</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.diseases.date.of.diagnosis}">date of diagnosis</th>
            <th th:text="#{fragment.current.patient.navigation.left.current.diseases.comment}">comment</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="currentDisease : ${currentDiseaseCommand.getCurrentDiseaseInfoCommand()}">
            <tr>
                <!--                        <td style="background-color: azure" th:style="${!currentDiseaseCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${currentDisease.getCode()}">code</td>-->
                <td th:text="#{ips.translate.button.original}">Original</td>
                <td th:text="${currentDisease.getDisease()}">disease</td>
                <td th:text="${{#temporals.format(currentDisease.getDateOfDiagnosis(), 'dd-MM-yyyy')}}">date of diagnosis</td>
                <td th:text="${currentDisease.getComment()}">comment</td>
            </tr>
            <tr>
                <!--                        <td style="background-color: azure" th:style="${!currentDiseaseCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${currentDisease.getCode()}">code</td>-->
                <td th:text="#{ips.translate.button.translated}">Translated</td>
                <th style="background-color: azure" th:text="${currentDisease.getDiseaseTranslated()}">disease</th>
                <td th:text="${{#temporals.format(currentDisease.getDateOfDiagnosis(), 'dd-MM-yyyy')}}">date of diagnosis</td>
                <td th:text="${currentDisease.getComment()}">comment</td>
            </tr>
        </div>

        <div th:each="currentDisease : ${currentDiseasesList}">
            <tr>
                <!--                        <td style="background-color: azure" th:style="${!currentDiseaseCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${currentDisease.getCode()}">code</td>-->
                <td th:text="#{ips.translate.button.original}">Original</td>
                <td th:text="${currentDisease.getDisease()}">disease</td>
                <td th:text="${{#temporals.format(currentDisease.getDateOfDiagnosis(), 'dd-MM-yyyy')}}">date of diagnosis</td>
                <td th:text="${currentDisease.getComment()}">comment</td>
            </tr>
            <tr>
                <!--                        <td style="background-color: azure" th:style="${!currentDiseaseCommand.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${currentDisease.getCode()}">code</td>-->
                <td th:text="#{ips.translate.button.translated}">Translated</td>
                <th style="background-color: azure" th:text="${currentDisease.getDiseaseTranslated()}">disease</th>
                <td th:text="${{#temporals.format(currentDisease.getDateOfDiagnosis(), 'dd-MM-yyyy')}}">date of diagnosis</td>
                <td th:text="${currentDisease.getComment()}">comment</td>
            </tr>
        </div>
        </tbody>
    </table>

    <div class="btn-toolbar float-right" role="toolbar" th:if="${patient != null}">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-primary" th:href="@{/current-patient/current-diseases/open-add-page}" th:text="#{crud.button.add}">add</a>
        </div>
    </div>
    <br><br>

    <table id="uploadTable" class="table table-bordered" th:if="${!notes.isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.current.diseases.notes}">Notes</th>
            <th th:text="#{button.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="note : ${notes}">
            <td class="col-10" th:text="${note}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary" th:href="@{/current-patient/current-diseases/delete(note=${note})}" th:text="#{crud.button.delete}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <br><br>
    <form th:action="@{/current-patient/current-diseases/save-note}" method="post">
        <div class="form-group">
            <label for="note" th:text="#{fragment.current.patient.navigation.left.current.diseases.notes}">Notes</label>
            <textarea class="form-control" rows="3" type="input" name="note" id="note"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
    </form>
</div>
</body>
</html>