<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.ph.exam}">ph exam</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <h3 th:text="#{fragment.current.patient.navigation.left.ph.exam}">ph exam</h3>
    <div class="m-4"></div>
    <div class="m-5"></div>

    <script>
        setTimeout(function () {
            $('#message').remove();
        }, 5000);
    </script>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" th:if="${!phExam.isEmpty()}">
                <thead class="thead-light">
                <tr><th th:text="#{fragment.current.patient.navigation.left.ph.exam.clinical.exam.notes}">Clinical exam notes</th></tr>
                </thead>
                <tbody>
                <tr th:each="phExam : ${phExam}"><td class="col-2" th:text="${phExam}"></td></tr>
                </tbody>
            </table>
        </div>

        <div class="m-3"></div>
        <form class="row col-12 justify-content-center" th:action="@{/current-patient/visit-data/ph-exam/save-clinical-exam}" th:object="${infoPhExam}" method="post">
            <div class="form-group col-12">
                <label for="phExam" th:text="#{fragment.current.patient.navigation.left.ph.exam.clinical.exam}">Clinical exam</label>
                <textarea class="form-control" name="phExam" id="phExam" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
        </form>
    </div>
</div>

</div>
</body>
</html>