<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.visit.data.visit.prescription}">prescription</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="m-3"></div>
    <h2 th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.add.prescription.information}">Add Prescription information</h2>
    <div class="m-5"></div>
    <form action="#" th:action="@{/current-patient/visit-data/visit-prescription/save-add}" th:object="${prescriptionInfoCommand}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">Please correct the errors below</p>
        </div>
        <div class="form-row">

            <div class="col-md-6">
                <label for="drugName" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.drug.name}">Drug name</label>
                <select class="form-control" id="drugName" th:field="*{drugName}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.visit.data.choose}">Choose a drug</option>
                    <option input type="text" class="form-control" th:each="type : ${prescriptionTypes}" th:classappend="${#fields.hasErrors('drugName')} ? 'is-invalid' :''"
                            th:value="${type.getName()}" th:text="${type.getName()}">Drug name</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('drugName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('drugName')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <label for="drugDosage" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.drug.dosage}">Drug Dosage</label>
                <input id="drugDosage" type="text" class="form-control" th:classappend="${#fields.hasErrors('drugDosage')} ? 'is-invalid' :''" th:field="*{drugDosage}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('drugDosage')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('drugDosage')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-2"><br>
                <label for="status" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.status}">Status</label><br>
                <select class="form-control" id="status" th:field="*{status}">
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="Active"
                            th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.active}">Active</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="On-Hold"
                            th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.on.hold}">On-Hold</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" value="Stopped"
                            th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.stopped}">Stopped</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('status')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-7"><br>
                <label for="notes" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.notes}">Notes</label><br>
                <input id="notes" type="text" class="form-control" th:classappend="${#fields.hasErrors('notes')} ? 'is-invalid' :''" th:field="*{notes}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('notes')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('notes')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3"><br>
                <label for="frequency" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.Times.per.day}">Times per day:</label>
                <input id="frequency" type="text" class="form-control" th:classappend="${#fields.hasErrors('frequency')} ? 'is-invalid' :''" th:field="*{frequency}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('frequency')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('frequency')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div><br>

        <div class="form-group row">
            <label for="dateOfPrescription" class="col-sm-3 col-form-label"
                   th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.dateofprescription}">Date of Prescription</label><br>
            <input id="dateOfPrescription" type="text" class="form-control col-sm-3"
                   th:classappend="${#fields.hasErrors('dateOfPrescription')} ? 'is-invalid' :''" readonly th:field="*{dateOfPrescription}" placeholder="Choose...">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('dateOfPrescription')}">
                <ul>
                    <li th:each="err : ${#fields.errors('dateOfPrescription')}" th:text="${err}">err</li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#dateOfPrescription').datetimepicker({
                        format: 'dd-mm-yyyy',
                        minView: "month"
                    });
                });
            </script>
        </div>

        <div class="form-group row">
            <label for="start" class="col-sm-3 col-form-label" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.start}">Start</label><br>
            <input id="start" type="text" class="form-control col-sm-3"
                   th:classappend="${#fields.hasErrors('start')} ? 'is-invalid' :''" readonly th:field="*{start}" placeholder="Choose...">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('start')}">
                <ul>
                    <li th:each="err : ${#fields.errors('start')}" th:text="${err}">err</li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#start').datetimepicker({
                        format: 'dd-mm-yyyy',
                        minView: "month"
                    });
                });
            </script>
        </div>

        <div class="form-group row">
            <label for="end" class="col-sm-3 col-form-label" th:text="#{fragment.current.patient.navigation.left.visit.data.prescription.medication.end}">End</label><br>
            <input id="end" type="text" class="form-control col-sm-3" th:classappend="${#fields.hasErrors('end')} ? 'is-invalid' :''" readonly th:field="*{end}" placeholder="Choose...">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('end')}">
                <ul>
                    <li th:each="err : ${#fields.errors('end')}" th:text="${err}">err</li>
                </ul>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#end').datetimepicker({
                        format: 'dd-mm-yyyy',
                        minView: "month"
                    });
                });
            </script>
        </div>

        <div class="text-right"><br>
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
        </div>
    </form>
</div>
</body>
</html>
