<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.demographic.information}">Demographic Information</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <h3 th:text="#{fragment.current.patient.navigation.left.demographic.information}">Demographic Information</h3>
    <br>
    <div th:if="${index.patientDataCommand.hasData()}">
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.details}">Patient details</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.name}">Name</th>
                <td th:text="${index.patientDataCommand.getLastName()}">name</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.surname}">Surname</th>
                <td th:text="${index.patientDataCommand.getFirstName()}">surname</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getPhoto() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.photo}">Photo</th>
                <td><img th:src="${index.patientDataCommand.getPhoto()}" width="110"></td>
            </tr>
            <tr th:if="${index.patientDataCommand.getBirthDate() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.birth.date}">Birth Date</th>
                <td th:text="${index.patientDataCommand.getBirthDate()}">birth date</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.place.of.birth}">Place of Birth</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getGender() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.gender}">Gender</th>
                <td th:text="${index.patientDataCommand.getGender()}">gender</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.native.language}">Native Language</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.country.of.residence}">Country of Residence</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.social.security.number}">Social Security Number/PID</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.next.of.kin}">Next of Kin</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.emergency.contact}">Emergency Contact</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.phone}">Patient Phone</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getFirstName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.email}">Patient E-mail</th>
                <td>-</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.referral.physician.details}">GP/Referral Physician details</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.name}">Name</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.phone}">Phone</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.country.of.residence}">Country of Residence</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.email}">E-mail</th>
                <td>-</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.referral.nurse.details}">Referral Nurse details</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.name}">Name</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.phone}">Phone</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.patient.country.of.residence}">Country of Residence</th>
                <td>-</td>
            </tr>
            <tr th:if="${index.patientDataCommand.getLastName() != null}">
                <th th:text="#{fragment.current.patient.navigation.left.demographic.data.email}">E-mail</th>
                <td>-</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>