<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutadministration}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.administration.navigation.left.audit.information}">Audit Information</title>
</head>

<body>
<div layout:fragment="content">
    <p><h3 th:text="#{fragment.administration.navigation.left.audit.information}">Audit Information</h3></p>
    <div class="m-5"></div>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{template.administration.audit.information.date.time}">Event Date</th>
            <th th:text="#{template.administration.audit.information.type}">Event Type</th>
            <th th:text="#{template.administration.audit.information.details}">Event Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="event : ${auditInformation}">
            <td th:text="${#temporals.format(event.dateTime, 'dd-MM-yyyy HH:mm:ss')}"></td>
            <td th:text="${event.type}"></td>
            <td th:text="${event.details}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>