<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>navigation</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:fragment="navigation-left" class="nav flex-column nav-pills">
        <a class="flex-sm-fill text-sm-left nav-link"
           th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'health-care-organization/view-details')} ? 'active' : ''"
           href="../health-care-organization/view-details.html"
           th:href="@{/administration/health-care-organization/view-details}"
           th:text="#{fragment.administration.navigation.left.organization}">Organization</a>
        <a class="flex-sm-fill text-sm-left nav-link"
           th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'initial-download/from-sehr')} ? 'active' : ''"
           href="../initial-download/from-sehr.html"
           th:href="@{/administration/initial-download/from-sehr}"
           th:text="#{fragment.administration.navigation.left.initial.download.sehr}">Default EHR download</a>
    </div>
</body>
</html>