<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.outpatient.report}">Outpatient report</title>
</head>

<body>
<div layout:fragment="content">
    <p><h3 th:text="#{fragment.current.patient.navigation.left.send.to.other.hcp}">Send to other HCP</h3></p>
    <div class="m-5"></div>
    <p><h5 style="color: red" th:if="${error}" th:text="#{connection.fails}">The connection failed</h5></p>
    <p><h5 th:if="${patient == null && !session.withoutConnection}" th:text="#{fragment.current.patient.navigation.left.connection.required}">Connection required</h5></p>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{template.administration.hcps.name}">Name</th>
            <th th:text="#{template.administration.hcps.occupation}">Occupation</th>
            <th th:if="${patient != null}" th:text="#{button.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hcp : ${hcps}">
            <td th:text="${hcp.name}"></td>
            <td th:text="${hcp.occupation}"></td>
            <td th:if="${patient != null}">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary" th:text="#{fragment.current.patient.navigation.left.send}" th:href="@{/current-patient/send-to-other-hcp/send-patient(
                            initialHcpId=${{hcp.id}})}">Send</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <p><h5 th:if="${isWorking}" th:text="#{fragment.current.patient.navigation.left.patient.sent.successfully} + ' ' + ${hcpName}">Patient has been successfully sent to</h5></p>
    <p><h5 style="color: red" th:if="${isWorking  == false}" th:text="#{fragment.current.patient.navigation.left.patient.not.sent.successfully}">Patient was not sent</h5></p>
    <p><h5 th:if="${isEhrTransferred}" th:text="#{fragment.current.patient.navigation.left.ehr.sent.successfully}">Patient's EHR has been successfully sent</h5></p>
    <p><h5 style="color: red" th:if="${isEhrTransferred  == false}" th:text="#{fragment.current.patient.navigation.left.ehr.not.sent.successfully}">Patient's EHR was not sent</h5></p>
</div>
</body>
</html>