<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.send.to.other.hcp}">Send to other HCP</title>
</head>

<body>
<div layout:fragment="content">
    <p><h3 th:text="#{fragment.current.patient.navigation.left.send.to.other.hcp}">Send to other HCP</h3></p>
    <div class="m-5"></div>
    <h5 style="color: red" th:if="${error}" th:text="#{connection.fails}">The connection failed</h5>
    <h5 th:if="${patient == null && session.withoutConnection != null && !session.withoutConnection}"
           th:text="#{fragment.current.patient.navigation.left.patient.required}">Connection required</h5>
    <h5 th:if="${session.alreadyAdded != null && session.transferHcpName != null && session.alreadyAdded}"
        th:text="#{fragment.current.patient.navigation.left.patient.already.added} + ' ' + ${session.transferHcpName}">Patient already sent to</h5>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{template.administration.hcps.name}">Name</th>
            <th th:text="#{template.administration.hcps.occupation}">Occupation</th>
            <th th:if="${patient != null}" th:text="#{button.action}">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hcp : ${hcps}">
            <td th:text="${hcp.name}"></td>
            <td th:text="${hcp.occupation}"></td>
            <td th:if="${patient != null}">
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-primary" th:text="#{fragment.current.patient.navigation.left.send.and.close}" th:href="@{/current-patient/send-to-other-hcp/send-patient(
                            hcpId=${{hcp.id}})}">Send and Close</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>