<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutadministration}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{template.administration.health.care.organization.title}">Organization</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 th:text="#{template.administration.health.care.organization.card.header}">Health care organization</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{template.administration.health.care.organization.card.body.title.code}">Code</h5>
                    <p class="card-text" th:text="${healthCareOrganization.code}">code</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.organization.card.body.title.name}">Name</h5>
                    <p class="card-text" th:text="${healthCareOrganization.name}">name</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.organization.card.body.title.phone}">Phone</h5>
                    <p class="card-text" th:text="${healthCareOrganization.phone}">phone</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.organization.card.body.title.address}">Address</h5>
                    <p class="card-text" th:text="${healthCareOrganization.address}">address</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-primary" th:href="@{/administration/health-care-organization/open-add-page}" th:text="#{crud.button.uploadCertificate}">upload certificate</a>
        </div>
    </div>
</div>
</body>
</html>