<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{template.administration.initial.sehr.download.title}">Initial EHR download</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div th:replace="administration/fragments/navigation::navigation-left">navigation-left</div>
        </div>
        <div class="col-9">
            <form action="#" th:action="@{/administration/initial-download/save-sehr-initial}" th:object="${sehrInitialDownload}" method="post">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 th:text="#{template.administration.initial.sehr.download.title}">Initial EHR download</h5>
                            </div>
                            <div class="card-body">
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="medicationSummary" th:field="*{medicationSummary}">
                                    <label class="custom-control-label" for="medicationSummary" th:text="#{template.administration.initial.sehr.download.medication.summary}">Medication Summary Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="allergyIntolerance" th:field="*{allergyIntolerance}">
                                    <label class="custom-control-label" for="allergyIntolerance" th:text="#{template.administration.initial.sehr.download.allergy.intolerance}">Allergies and Intolerances Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="currentDiseases" th:field="*{currentDiseases}">
                                    <label class="custom-control-label" for="currentDiseases" th:text="#{template.administration.initial.sehr.download.currentDiseases}">Current Diseases</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="immunizations" th:field="*{immunizations}">
                                    <label class="custom-control-label" for="immunizations" th:text="#{template.administration.initial.sehr.download.immunizations}">Immunizations Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="historyOfProcedure" th:field="*{historyOfProcedure}">
                                    <label class="custom-control-label" for="historyOfProcedure" th:text="#{template.administration.initial.sehr.download.history.of.procedure}">History of Procedures Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="medicalDevices" th:field="*{medicalDevices}">
                                    <label class="custom-control-label" for="medicalDevices" th:text="#{template.administration.initial.sehr.download.medical.devices}">Medical Devices Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="results" th:field="*{results}">
                                    <label class="custom-control-label" for="results" th:text="#{template.administration.initial.sehr.download.results}">Results Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="vitalSigns" th:field="*{vitalSigns}">
                                    <label class="custom-control-label" for="vitalSigns" th:text="#{template.administration.initial.sehr.download.vital.signs}">Vital Signs</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="historyOfPast" th:field="*{historyOfPastIllnesses}">
                                    <label class="custom-control-label" for="historyOfPast" th:text="#{template.administration.initial.sehr.download.history.of.past.illnesses}">History of Past Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="historyOfPregnancy" th:field="*{pregnancy}">
                                    <label class="custom-control-label" for="historyOfPregnancy" th:text="#{template.administration.initial.sehr.download.pregnancy}"> History of Pregnancy Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="socialHistory" th:field="*{socialHistory}">
                                    <label class="custom-control-label" for="socialHistory" th:text="#{template.administration.initial.sehr.download.social.history}">Social History Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="planOfCare" th:field="*{planOfCare}">
                                    <label class="custom-control-label" for="planOfCare" th:text="#{template.administration.initial.sehr.download.plan.of.care}">Plan of Care Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="functionalStatus" th:field="*{functionalStatus}">
                                    <label class="custom-control-label" for="functionalStatus" th:text="#{template.administration.initial.sehr.download.functional.status}">Functional Status Section</label>
                                </div>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="advanceDirectives" th:field="*{advanceDirectives}">
                                    <label class="custom-control-label" for="advanceDirectives" th:text="#{template.administration.initial.sehr.download.advance.directives}"> Advances Directives Section</label>
                                </div>
                                <button type="submit" class="btn btn-primary" th:text="#{crud.button.save}">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>