<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutadministration}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{template.administration.initial.sehr.download.title}">Initial EHR download</title>
</head>

<body>
<div layout:fragment="content">
    <form action="#" th:action="@{/administration/initial-download/save-sehr-initial}" th:object="${sehrInitialDownload}" method="post">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 th:text="#{template.administration.initial.sehr.download.title}">Initial EHR download</h5>
                    </div>
                    <div class="card-body">

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="currentDiseases" th:field="*{currentDiseases}">
                            <label class="custom-control-label" for="currentDiseases" th:text="#{template.administration.initial.sehr.download.currentDiseases}">Current Diseases</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="patHistory" th:field="*{patHistory}">
                            <label class="custom-control-label" for="patHistory" th:text="#{template.administration.initial.sehr.download.pat.history}">Pat History</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="allergies" th:field="*{allergies}">
                            <label class="custom-control-label" for="allergies" th:text="#{template.administration.initial.sehr.download.allergies}">Allergies</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="currentMedication" th:field="*{currentMedication}">
                            <label class="custom-control-label" for="currentMedication" th:text="#{template.administration.initial.sehr.download.current.Medication}">Current Medication</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="documentHistoryConsultation" th:field="*{documentHistoryConsultation}">
                            <label class="custom-control-label" for="documentHistoryConsultation" th:text="#{template.administration.initial.sehr.download.document.history.consultation}">Document History Consultation</label>
                        </div>

                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="laboratoryTests" th:field="*{laboratoryTests}">
                            <label class="custom-control-label" for="laboratoryTests" th:text="#{template.administration.initial.sehr.download.laboratory.tests}">Laboratory Tests</label>
                        </div>

                        <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>