<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>

    <title th:text="#{fragment.current.patient.navigation.left.allergies}">allergies</title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-3"></div>
    <h2 th:text="#{fragment.current.patient.navigation.left.allergies.add.allergy}">Add Allergy information</h2>
    <div class="m-5"></div>
    <form action="#" th:action="@{/current-patient/allergies/save-add}" th:object="${allergyInfoCommand}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">Please correct the errors below</p>
        </div>

        <div class="form-row">
            <div class="col-md-6">
                <label for="category" th:text="#{fragment.current.patient.navigation.left.allergies.category}">Category</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.allergies.chooose.category}">Choose a category</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' :''" value="BIOLOGIC"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.BIOLOGIC}">BIOLOGIC</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' :''" value="ENVIRONMENT"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.ENVIRONMENT}">ENVIRONMENT</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' :''" value="FOOD"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.FOOD}">FOOD</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' :''" value="MEDICATION"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.MEDICATION}">MEDICATION</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('category')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <label for="name" th:text="#{fragment.current.patient.navigation.left.allergies.name}">Name</label>
                <select class="form-control" id="name" th:field="*{name}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.allergies.choose}">Choose a allergy</option>
                    <option input type="text" class="form-control" th:each="type : ${allergyTypes}" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' :''"
                            th:value="${type.getName()}" th:text="${type.getName()}">Allergy</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6"><br>
                <label for="type" th:text="#{fragment.current.patient.navigation.left.allergies.type}">Type</label><br>
                <select class="form-control" id="type" th:field="*{type}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.allergies.chooose.type}">Choose a type</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' :''" value="ALLERGY"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.ALLERGY}">ALLERGY</option>
                    <option input type="text" class="form-control" th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' :''" value="INTOLERANCE"
                            th:text="#{fragment.current.patient.navigation.left.allergies.chooose.INTOLERANCE}">INTOLERANCE</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6"><br>
                <label for="symptoms" th:text="#{fragment.current.patient.navigation.left.allergies.symptoms}">Symptoms</label><br>
                <input id="symptoms" type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('symptoms')} ? 'is-invalid' :''"
                       th:field="*{symptoms}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('symptoms')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('symptoms')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-8"><br>
                <label for="comments" th:text="#{fragment.current.patient.navigation.left.allergies.comments}">Comments</label>
                <input id="comments" type="text" class="form-control" th:field="*{comments}">
            </div>
            <div class="col-md-4"><br>
                <label for="endDate" th:text="#{fragment.current.patient.navigation.left.allergies.end.date}">End Date</label>
                <input id="endDate" type="text" class="form-control" th:classappend="${#fields.hasErrors('endDate')} ? 'is-invalid' :''" readonly th:field="*{endDate}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('endDate')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('endDate')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#endDate').datetimepicker({
                            format: 'dd-mm-yyyy',
                            minView: "month"
                        });
                    });
                </script>
            </div>
        </div>

        <div class="text-right"><br>
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
        </div>
    </form>
</div>
</body>
</html>