<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.allergies.update.allergy}">Update Allergy information</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="#{fragment.current.patient.navigation.left.allergies.update.allergy}">Update Allergy information</h2>
    <div class="m-5"></div>
    <form action="#" th:action="@{/current-patient/allergies/update}" th:object="${allergyInfoCommand}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">Please correct the errors below</p>
        </div>

        <div class="form-row">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{patientId}">
            <input type="hidden" th:field="*{author}">
            <input type="hidden" th:field="*{identifier}">
            <div class="col-md-6">
                <label for="category" th:text="#{fragment.current.patient.navigation.left.allergies.category}">Category</label>
                <select class="form-control" id="category" th:field="*{category}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.allergies.chooose.category}">Choose a category</option>
                    <option input type="text" class="form-control" th:each="category : ${allergyCategories}" th:classappend="${#fields.hasErrors('category')} ? 'is-invalid' :''"
                            th:value="${category}" th:text="${category}">Category</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('category')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('category')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <label for="name" th:text="#{fragment.current.patient.navigation.left.allergies.name}">Name</label>
                <input id="name" type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' :''" th:field="*{name}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('name')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6"><br>
                <label for="type" th:text="#{fragment.current.patient.navigation.left.allergies.type}">Type</label><br>
                <select class="form-control" id="type" th:field="*{type}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.allergies.chooose.type}">Choose a type</option>
                    <option input type="text" class="form-control" th:each="type : ${allergyTypes}" th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' :''"
                            th:value="${type}" th:text="${type}">Type</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6"><br>
                <label for="symptoms" th:text="#{fragment.current.patient.navigation.left.allergies.symptoms}">Symptoms</label><br>
                <input id="symptoms" type="text" class="form-control"
                       th:classappend="${#fields.hasErrors('symptoms')} ? 'is-invalid' :''"
                       th:field="*{symptoms}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('symptoms')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('symptoms')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12"><br>
                <label for="comments" th:text="#{fragment.current.patient.navigation.left.allergies.comments}">Comments</label>
                <input id="comments" type="text" class="form-control" th:field="*{comments}">
            </div>
        </div>

        <div class="text-right"><br>
            <button type="submit" class="btn btn-primary" th:text="#{button.save}">Save</button>
        </div>
    </form>
</div>
</body>
</html>