<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">document history</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js" th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="m-5"></div>
<!--    <div class="btn-toolbar float-right" role="toolbar">-->
<!--        <div class="btn-group mr-2" role="group">-->
<!--            <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>-->
<!--            <a href="#" class="btn btn-primary" th:styleappend="${!documentHistoryConsultationList.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/document-history-consultation/view-section/all')}" th:text="#{ips.translate.button.original}">Initial version</a>-->
<!--            <a href="#" class="btn btn-primary" th:styleappend="${documentHistoryConsultationList.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/document-history-consultation/view-section/all')}" th:text="#{ips.translate.button.translated}">Translated version</a>-->
<!--        </div>-->
<!--    </div>-->
    <p>
    <h3 th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">Document History Consultation</h3></p>
    <div class="form-inline">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.speciality}">
                Filter by Speciality
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:if="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/cardiology/' + '?start=' + ${session.startDate} + '&end=' + ${session.endDate}}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.cardiology}">Cardiology</a>
                <a class="dropdown-item" th:unless="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/cardiology'}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.cardiology}">Cardiology</a>
                <a class="dropdown-item" th:if="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/psychiatry/' + '?start=' + ${session.startDate} + '&end=' + ${session.endDate}}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.psychiatry}">Psychiatry</a>
                <a class="dropdown-item" th:unless="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/psychiatry'}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.psychiatry}">Psychiatry</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:if="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/all/' + '?start=' + ${session.startDate} + '&end=' + ${session.endDate}}"
                   th:text="#{button.reset}">RESET</a>
                <a class="dropdown-item" th:unless="${session.startDate != null && session.endDate != null}"
                   th:href="@{'/current-patient/document-history-consultation/view-section/all'}"
                   th:text="#{button.reset}">RESET</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date}">
                Filter by Date
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item"
                   th:href="@{'/current-patient/document-history-consultation/view-section/' + ${session.speciality} + '/?start=' + ${lastYear + '-01-01'} + '&end=' + ${now}}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.last.year}">Last Year</a>
                <a class="dropdown-item"
                   th:href="@{'/current-patient/document-history-consultation/view-section/' + ${session.speciality} + '/?start=' + ${last5Years + '-01-01'} + '&end=' + ${now}}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.last.five.years}">Last 5 Years</a>
                <form class="form-inline justify-content-center">
                    <p th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.period.between}"></p>
                    <div class="form-group justify-content-center">
                        <input id="start" type="date" class="form-control col-sm-11" name="start">
                    </div>
                    <div class="form-group justify-content-center">
                        <input id="end" type="date" class="form-control col-sm-11" name="end">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.filter.period}">Filter</button>
                </form>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{'/current-patient/document-history-consultation/view-section/' + ${session.speciality}}"
                   th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.all}">All</a>
            </div>
        </div>
    </div>

    <p class="col-form-label" th:if="${isFiltered && (session.startDate == null && session.endDate == null || session.startDate.equalsIgnoreCase('') && session.endDate.equalsIgnoreCase(''))}"
       th:utext="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.speciality} + ': ' + ${session.speciality} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.date} + ': '">Filtered list</p>
    <p class="col-form-label" th:if="${isFiltered && ((session.startDate != null && session.endDate != null) && (!session.startDate.equalsIgnoreCase('') && !session.endDate.equalsIgnoreCase('')))}"
       th:utext="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.speciality} + ': ' + ${session.speciality} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.date} + ': ' + ${session.startDate} + ' - ' + ${session.endDate}"></p>
    <p class="col-form-label" th:if="${isFiltered && session.startDate != null && !session.startDate.equalsIgnoreCase('') && (session.endDate == null || session.endDate.equalsIgnoreCase(''))}"
       th:utext="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.speciality} + ': ' + ${session.speciality} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.date} + ': ' + ' >= ' + ${session.startDate}"></p>
    <p class="col-form-label" th:if="${isFiltered && session.endDate != null && !session.endDate.equalsIgnoreCase('') && (session.startDate == null || session.startDate.equalsIgnoreCase(''))}"
       th:utext="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.speciality} + ': ' + ${session.speciality} + '<br/>'
        + #{fragment.current.patient.navigation.left.document.history.consultation.date} + ': ' + ' <= ' + ${session.endDate}"></p>
    <p class="col-form-label" th:if="${isEmpty}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.empty}">Empty list</p>
    <br>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.date}">Date</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.location}">Location Hospital</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.exam}">Exam</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.view}">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hc : ${documentHistoryConsultationList}">
<!--            <td style="background-color: azure" th:style="${!documentHistoryConsultationList.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${{hc.localDateTimeHistoryConsultation}}"></td>-->
            <td th:text="${{hc.getDate()}}"></td>
            <td th:text="${{hc.getLocationHospital()}}"></td>
            <td th:text="${{hc.getExam()}}"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" th:text="#{button.open}">Open</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           th:href="@{'/current-patient/document-history-consultation/file-view/show-document/' + ${hc.getSpeciality()} + '/' + ${hc.getExam()} + '/' + ${hc.getDate()}}"
                           th:text="#{button.open}">Open</a>
                        <a class="dropdown-item"  target="_blank"
                           th:href="@{'/current-patient/document-history-consultation/file-view/show-document-new-tab/' + ${hc.getSpeciality()} + '/' + ${hc.getExam()} + '/' + ${hc.getDate()}}"
                           th:text="#{button.open.in.new.tab}">Open in new tab</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>