<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">document history</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="m-5"></div>
<!--        <div class="btn-toolbar float-right" role="toolbar">-->
<!--            <div class="btn-group mr-2" role="group">-->
<!--                <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>-->
<!--                <a href="#" class="btn btn-primary" th:styleappend="${!documentHistoryConsultationCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/document-history-consultation/view-section')}" th:text="#{ips.translate.button.original}">Initial version</a>-->
<!--                <a href="#" class="btn btn-primary" th:styleappend="${documentHistoryConsultationCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/document-history-consultation/view-section')}" th:text="#{ips.translate.button.translated}">Translated version</a>-->
<!--            </div>-->
<!--        </div>-->
    <h3 th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">Document History Consultation</h3>
    <br>
    <div th:if="${currentD2DConnection == null && (session.withoutConnection != null && !session.withoutConnection)}">
        <h5 th:text="#{fragment.current.patient.navigation.left.document.history.consultation.mandatory.no.connection}">The connection with S-EHR is not established</h5>
    </div>

<!--    <form class="row" th:action="@{/current-patient/document-history-consultation/filter}" method="post">-->
<!--        <fieldset class="form-group col-2">-->
<!--            <legend class="col-form-label col-sm-2 pt-0"-->
<!--                    th:text="#{fragment.current.patient.navigation.left.document.history.consultation.speciality}">Speciality</legend>-->
<!--            <div class="col-sm-10">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="speciality" id="cardiology" value="cardiology">-->
<!--                    <label class="form-check-label" for="cardiology"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.cardiology}">Cardiology</label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="speciality" id="psychiatry" value="psychiatry">-->
<!--                    <label class="form-check-label" for="psychiatry"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.psychiatry}">Psychiatry</label>-->
<!--                </div>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="speciality" id="all" value="all" checked>-->
<!--                    <label class="form-check-label" for="all"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.all}">All</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </fieldset>-->

<!--        <fieldset class="form-group col-5">-->
<!--            <legend class="col-form-label col-sm-2 pt-0" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.date}">Date</legend>-->
<!--            <div class="col-sm-10">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="date" id="lastYear" value="lastYear" checked>-->
<!--                    <label class="form-check-label" for="lastYear"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.last.year}">Last Year</label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="date" id="last5Years" value="last5Years">-->
<!--                    <label class="form-check-label" for="last5Years"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.last.five.years}">Last 5 Years</label>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label for="inputEmail3" class="col-sm-2 col-form-label" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.start}">Start</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <input type="date" class="form-control" id="inputEmail3" placeholder="Email" name="start">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="form-group row">-->
<!--                    <label for="inputPassword3" class="col-sm-2 col-form-label" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.end}">End</label>-->
<!--                    <div class="col-sm-10">-->
<!--                        <input type="date" class="form-control" id="inputPassword3" placeholder="Password" name="end">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="dropdown-divider"></div>-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="radio" name="date" id="all2" value="all" checked>-->
<!--                    <label class="form-check-label" for="all2"-->
<!--                           th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.date.all}">All</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </fieldset>-->
<!--        <div class="form-group">-->
<!--            <p class="col-form-label" th:if="${session.speciality != null && session.date != null}"-->
<!--               th:utext="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.parameters} + '<br/>'-->
<!--        + #{fragment.current.patient.navigation.left.document.history.consultation.speciality} + ': ' + ${session.speciality} + '<br/>'-->
<!--        + #{fragment.current.patient.navigation.left.document.history.consultation.date} + ': ' + ${session.date}">-->
<!--                Parameters:</p>-->
<!--            <br>-->
<!--            <div th:if="${currentD2DConnection != null}">-->
<!--                <button type="submit" class="btn btn-secondary" th:text="#{button.filter.arrow}">Filter 🡣</button>-->
<!--            </div>-->
<!--            <h5 th:if="${session.withoutConnection != null && session.withoutConnection}"-->
<!--                th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filtration.not.available}">Filtration function not available in Simulation mode</h5>-->
<!--            <h5 th:if="${session.isExtractedData}"-->
<!--                th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filtration.not.available.in.simulation}">-->
<!--                Filtration function in "Extracted patient phase" not available for the moment</h5>-->
<!--        </div>-->
<!--    </form>-->

<!--    <div th:if="${session.speciality == null}">-->
<!--        <h5 th:text="#{fragment.current.patient.navigation.left.document.history.consultation.mandatory.filter}">Please, set a filter to view data</h5>-->
<!--    </div>-->
    <br>

    <table class="table table-bordered" th:if="${!documentHistoryConsultationList.isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.date}">Date</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.location}">Location
                Hospital
            </th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.exam}">Exam</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.view}">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hc : ${documentHistoryConsultationList}">
            <!--            <td style="background-color: azure" th:style="${!documentHistoryConsultationList.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${{hc.localDateTimeHistoryConsultation}}"></td>-->
            <td th:text="${{hc.getDate()}}"></td>
            <td th:text="${{hc.getLocationHospital()}}"></td>
            <td th:text="${{hc.getExam()}}"></td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                            th:text="#{button.open}">Open
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item"
                           th:href="@{'/current-patient/document-history-consultation/file-view/show-document/' + ${hc.getExam()} + '/' + ${hc.getDate()}}"
                           th:text="#{button.open}">Open</a>
                        <a class="dropdown-item" target="_blank"
                           th:href="@{'/current-patient/document-history-consultation/file-view/show-document-new-tab/' + ${hc.getExam()} + '/' + ${hc.getDate()}}"
                           th:text="#{button.open.in.new.tab}">Open in new tab</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row justify-content-end">
        <a class="btn btn-primary" th:href="@{/current-patient/document-history-consultation/refresh}"
           th:text="#{fragment.current.patient.navigation.left.diagnostic.imaging.Image.Report.refresh.data.sehr}">Refresh data from S-EHR</a>
    </div>
    <br>
    <div class="row justify-content-end"
         th:if="${session.emergency != null && session.emergency.equalsIgnoreCase('EMERGENCY')}">
        <a class="btn btn-primary" th:href="@{/current-patient/document-history-consultation/refresh-data}"
           th:text="#{fragment.current.patient.navigation.left.diagnostic.imaging.Image.Report.refresh.data}">Refresh data</a>
    </div>
</div>
</body>
</html>