<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">document history</title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-5"></div>
<!--    <div class="btn-toolbar float-right" role="toolbar">-->
<!--        <div class="btn-group mr-2" role="group">-->
<!--            <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>-->
<!--            <a href="#" class="btn btn-primary" th:styleappend="${!documentHistoryConsultation.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/document-history-consultation/view-section/all')}" th:text="#{ips.translate.button.original}">Initial version</a>-->
<!--            <a href="#" class="btn btn-primary" th:styleappend="${documentHistoryConsultation.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/document-history-consultation/view-section/all')}" th:text="#{ips.translate.button.translated}">Translated version</a>-->
<!--        </div>-->
<!--    </div>-->
    <p>
    <h3 th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">Document History Consultation</h3></p>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.filter.by.speciality}">
            Filter by Speciality
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/current-patient/document-history-consultation/view-section/cardiology}" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.cardiology}">Cardiology</a>
            <a class="dropdown-item" th:href="@{/current-patient/document-history-consultation/view-section/psychiatry}" th:text="#{fragment.current.patient.navigation.left.document.history.consultation.psychiatry}">Psychiatry</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/current-patient/document-history-consultation/view-section/all}" th:text="#{button.reset}">RESET</a>
        </div>
    </div>
    <p class="col-form-label" th:if="${isFiltered}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.filtered}">Filtered list</p>
    <p class="col-form-label" th:if="${isEmpty}" th:text="#{fragment.current.patient.navigation.left.current.medications.prescription.medication.is.empty}">Empty list</p>
    <br>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.date}">Date</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.location}">Location Hospital</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.exam}">Exam</th>
            <th th:text="#{fragment.current.patient.navigation.left.document.history.consultation.view}">View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hc : ${documentHistoryConsultation.documentHistoryConsultationInfoCommandList}">
<!--            <td style="background-color: azure" th:style="${!documentHistoryConsultation.getDisplayTranslatedVersion()} ? '' : 'background-color: azure'" th:text="${{hc.localDateTimeHistoryConsultation}}"></td>-->
            <td th:text="${{hc.getDate()}}"></td>
            <td th:text="${{hc.getLocationHospital()}}"></td>
            <td th:text="${{hc.getExam()}}"></td>
            <td>
                <div class="btn-group" role="group">
<!--                    <a class="btn btn-primary" th:href="@{'/current-patient/document-history-consultation/pdf/' + ${hc.getData()}}" th:text="#{button.open}">Open</a>-->
                    <a class="btn btn-primary" target="_blank"
                       th:href="@{'/current-patient/document-history-consultation/pdf/' + ${hc.getSpeciality()} + '/' + ${hc.getExam()} + '/' + ${hc.getDate()}}" th:text="#{button.open}">Open</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>