<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{template.index.title}">HCP Application</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>

<div class="container">
    <div th:if="${exception != null}" class="m-3 alert alert-danger">
        <p th:text="${exception}">Exception</p>
    </div>
    <div th:if="${exception == null}">
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).OFF}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Press the button to put the application in connection mode.</h3>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.open.connection}" th:href="@{/index/open-connection}">Open connection</a>
            </div>
        </div>
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).PENDING_DEVICE}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Scan the QR code with your S-EHR to establish the bluetooth connection</h3>
            </div>
            <div class="row justify-content-center">
                <img src="..." th:src="${index.bluetoothConnectionInfoImage}" alt="available at runtime" height="10" th:height="${index.bluetoothConnectionInfoImageSize}" width="10" th:width="${index.bluetoothConnectionInfoImageSize}"/>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.discard.connection}" th:href="@{/index/stop-listening}">Discard</a>
            </div>
            <div class="row justify-content-center">
                <h9>(This functionality will be available when <a href="http://iehrgitlab.ds.unipi.gr/interopehrate/issues/issues/123" target="_blank">this</a> issue will be closed.)</h9>
            </div>
        </div>
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).ON}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Connected</h3>
            </div>
            <div th:if="${!(index.patientDataCommand.getFirstName().equals('Empty')) || !(index.patientDataCommand.getLastName().equals('Empty')) || !(index.patientDataCommand.getId().equals('Empty'))}">

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col"> <div class="row justify-content-center"> First Name </div></th>
                        <th scope="col"> <div class="row justify-content-center"> Family Name</div></th>
                        <th scope="col"> <div class="row justify-content-center"> ID Patient </div></th>
                        <th scope="col"> <div class="row justify-content-center"> Consent </div> </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="row justify-content-center">
                                <h7 th:text="${index.patientDataCommand.getFirstName()}"></h7>
                            </div>
                        </td>
                        <td>
                            <div class="row justify-content-center">
                                <h7 th:text="${index.patientDataCommand.getLastName()}"></h7>
                            </div>
                        </td>
                        <td>
                            <div class="row justify-content-center">
                                <h7 th:text="${index.patientDataCommand.getId()}"></h7>
                            </div>
                        </td>
                        <td>
                            <div class="row justify-content-center">
                                <h7 th:text="${index.patientDataCommand.getConsent()}"></h7>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center">
                    <p></p>
                </div>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.close.connection}" th:href="@{/index/close-connection}">Close connection</a>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{/js/reload-page-sse.js}"></script>
</body>

</html>