<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{template.index.title}">HCP Application</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>

<div class="container">
    <div th:if="${exception != null}" class="m-3 alert alert-danger">
        <p th:text="${exception}">Exception</p>
    </div>
    <div th:if="${exception == null}">
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).OFF}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Press the button to put the application in connection mode.</h3>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.open.connection}" th:href="@{/index/open-connection}">Open connection</a>
            </div>
        </div>
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).PENDING_DEVICE}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Scan the QR code with your S-EHR to establish the bluetooth connection</h3>
            </div>
            <div class="row justify-content-center">
                <img src="..." th:src="${index.bluetoothConnectionInfoImage}" alt="available at runtime" height="10" th:height="${index.bluetoothConnectionInfoImageSize}" width="10" th:width="${index.bluetoothConnectionInfoImageSize}"/>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.discard.connection}" th:href="@{/index/stop-listening}">Discard</a>
            </div>
            <div class="row justify-content-center">
                <h9>(This functionality will be available when <a href="http://iehrgitlab.ds.unipi.gr/interopehrate/issues/issues/123" target="_blank">this</a> issue will be closed.)</h9>
            </div>
        </div>
        <div th:if="${index.connectionState == T(eu.interopehrate.hcpapp.currentsession.D2DConnectionState).ON}" class="m-3">
            <div class="row justify-content-center">
                <h3 class="mt-5">Connected</h3>
            </div>
            <div th:if="${index.patientDataCommand.getNoConformantJSON()}">
                <h5 style="color: red" class="row justify-content-center">Transmission error, please retry!</h5>
            </div>
            <div th:if="${index.patientDataCommand.getIpsReceived() && index.patientDataCommand.getPrescriptionReceived()}">
                <h5 style="color: green" class="row justify-content-center">Transmission completed!</h5>
            </div>
            <div class="row justify-content-center">
                <a href="#" class="btn btn-primary" th:text="#{template.index.button.close.connection}" th:href="@{/index/close-connection}">Close connection</a>
            </div>
            <div class="row justify-content-center">
                <p></p>
            </div>
            <div th:if="${index.patientDataCommand.hasData()}">
                <div class="row justify-content-center">
                    <div class="card">
                        <div class="card-header">
                            <h5>General info about patient</h5>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getFirstName() != null}">
                            <h5 class="card-title">First Name</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getFirstName()}">first name</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getLastName() != null}">
                            <h5 class="card-title">Family Name</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getLastName()}">last name</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getGender() != null}">
                            <h5 class="card-title">Gender</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getGender()}">gender</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getBirthDate() != null}">
                            <h5 class="card-title">Birth date</h5>
<!--                            Birth date output is processed. -->
                            <p class="card-text" th:text="${index.patientDataCommand.getBirthDate().toLocaleString().substring(0, index.patientDataCommand.getBirthDate().toLocaleString().length() - 10)}">birth date</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getId() != null}">
                            <h5 class="card-title">ID Patient</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getId()}">patient id</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getConsent() != null}">
                            <h5 class="card-title">Consent</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getConsent()}">patient id</p>
                        </div>
                        <div class="card-body" th:if="${index.patientDataCommand.getCertificate()!= null}">
                            <h5 class="card-title">Certificate details</h5>
                            <p class="card-text" th:text="${index.patientDataCommand.getCertificate()}">certificate details</p>
                        </div>
                    </div>
                    <div class="card-body" th:if="${index.patientDataCommand.getConsent() != null}">
                        <div class="row justify-content-center">
                            <a href="#" class="btn btn-danger btn-lg" th:text="#{template.index.button.invalid.certificate}" th:href="@{/index/close-connection}">Invalid Digital Identity</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{/js/reload-page-sse.js}"></script>
</body>

</html>