<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>navigation</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:fragment="navigation-left" class="nav flex-column nav-pills">
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/medication-summary')} ? 'active' : ''"
       href="../medication-summary/view-section.html"
       th:href="@{/current-patient/medication-summary/view-section}"
       th:text="#{fragment.current.patient.navigation.left.medication.summary}">Medication Summary</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/allergies-intolerances')} ? 'active' : ''"
       href="../allergies-intolerances/view-section.html"
       th:href="@{/current-patient/allergies-intolerances/view-section}"
       th:text="#{fragment.current.patient.navigation.left.allergies.intolerances}">Allergies and Intolerances</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/problems')} ? 'active' : ''"
       href="../problems/view-section.html"
       th:href="@{/current-patient/problems/view-section}"
       th:text="#{fragment.current.patient.navigation.left.problems}">Problems</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/immunization')} ? 'active' : ''"
       href="../immunization/view-section.html"
       th:href="@{/current-patient/immunization/view-section}"
       th:text="#{fragment.current.patient.navigation.left.immunization}">Immunzations</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/history-procedure')} ? 'active' : ''"
       href="../history-procedure/view-section.html"
       th:href="@{/current-patient/history-procedure/view-section}"
       th:text="#{fragment.current.patient.navigation.left.history.procedure}">History of Procedure</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/medical-devices')} ? 'active' : ''"
       href="../medical-devices/view-section.html"
       th:href="@{/current-patient/medical-devices/view-section}"
       th:text="#{fragment.current.patient.navigation.left.medical.devices}">Medical Devices</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/diagnostic-result')} ? 'active' : ''"
       href="../diagnostic-result/view-section.html"
       th:href="@{/current-patient/diagnostic-result/view-section}"
       th:text="#{fragment.current.patient.navigation.left.results}">Results</a>
    <!-- Vital signs -->
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/history-past-illness')} ? 'active' : ''"
       href="../history-past-illness/view-section.html"
       th:href="@{/current-patient/history-past-illness/view-section}"
       th:text="#{fragment.current.patient.navigation.left.history-past-illness}">History of Past Illness</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/history-pregnancy')} ? 'active' : ''"
       href="../history-pregnancy/view-section.html"
       th:href="@{/current-patient/history-pregnancy/view-section}"
       th:text="#{fragment.current.patient.navigation.left.history-pregnancy}">History Pregnancy</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/social-history')} ? 'active' : ''"
       href="../social-history/view-section.html"
       th:href="@{/current-patient/social-history/view-section}"
       th:text="#{fragment.current.patient.navigation.left.social-history}">Social History</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/plan-care')} ? 'active' : ''"
       href="../plan-care/view-section.html"
       th:href="@{/current-patient/plan-care/view-section}"
       th:text="#{fragment.current.patient.navigation.left.plan-care}">Plan of Care</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/functional-status')} ? 'active' : ''"
       href="../functional-status/view-section.html"
       th:href="@{/current-patient/functional-status/view-section}"
       th:text="#{fragment.current.patient.navigation.left.functional-status}">Functional Status</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/advance-directives')} ? 'active' : ''"
       href="../advance-directives/view-section.html"
       th:href="@{/current-patient/advance-directives/view-section}"
       th:text="#{fragment.current.patient.navigation.left.advance-directives}">Advance Directives</a>
</div>
</body>
</html>