<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>navigation</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:fragment="navigation-left" class="nav flex-column nav-pills">
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/demographic-information')} ? 'active' : ''"
       href="../demographic-information/view-section.html"
       th:href="@{/current-patient/demographic-information/view-section}"
       th:text="#{fragment.current.patient.navigation.left.demographic.information}">Demographic Information</a>
    <div class="dropdown-divider"></div>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/current-diseases')} ? 'active' : ''"
       href="../current-diseases/view-section.html"
       th:href="@{/current-patient/current-diseases/view-section}"
       th:text="#{fragment.current.patient.navigation.left.current.diseases}">Current Diseases</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/pat-history')} ? 'active' : ''"
       href="../pat-history/view-section.html"
       th:href="@{/current-patient/pat-history/view-section}"
       th:text="#{fragment.current.patient.navigation.left.pat.history}">Pat History</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/allergies')} ? 'active' : ''"
       href="../allergies/view-section.html"
       th:href="@{/current-patient/allergies/view-section}"
       th:text="#{fragment.current.patient.navigation.left.allergies}">Allergies</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/current-medications')} ? 'active' : ''"
       href="../current-medications/prescription/view-section.html"
       th:href="@{/current-patient/current-medications/prescription/view-section}"
       th:text="#{fragment.current.patient.navigation.left.current.medications}">Current Medications</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/document-history-consultation')} ? 'active' : ''"
       href="../document-history-consultation/view-section.html"
       th:href="@{/current-patient/document-history-consultation/view-section}"
       th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">Document History Consultation</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/laboratory-tests')} ? 'active' : ''"
       href="../laboratory-tests/laboratory-results/observation-laboratory-view.html"
       th:href="@{/current-patient/laboratory-tests/laboratory-results/observation-laboratory-view}"
       th:text="#{fragment.current.patient.navigation.left.laboratory.tests}">Laboratory Tests</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/diagnostic-imaging')} ? 'active' : ''"
       href="../diagnostic-imaging/view-section.html"
       th:href="@{/current-patient/diagnostic-imaging/view-section}"
       th:text="#{fragment.current.patient.navigation.left.diagnostic.imaging}">Diagnostic imaging</a>

    <div class="dropdown-divider" th:if="${session.workingSession != null || (session.withoutConnection != null && session.withoutConnection)}"></div>
    <li class="nav-item dropdown" th:if="${session.workingSession != null || (session.withoutConnection != null && session.withoutConnection)}">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false" th:text="#{fragment.current.patient.navigation.left.visit.data.title}">Visit Data</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/vital-signs/view-section}"
               th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs}">Vital Signs</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/visit-prescription/view-section}"
               th:text="#{fragment.current.patient.navigation.left.visit.data.visit.prescriptions}">Prescriptions</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/reason/view-section}"
               th:text="#{fragment.current.patient.navigation.left.reason}">Reason</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/ph-exam/view-section}"
               th:text="#{fragment.current.patient.navigation.left.ph.exam}">PH Exam</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/instr-exam/view-section}"
               th:text="#{fragment.current.patient.navigation.left.instr.exam}">Instrumental Examination</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/conclusion/view-section}"
               th:text="#{fragment.current.patient.navigation.left.conclusion}">Conclusion</a>
        </div>
    </li>

    <div class="dropdown-divider"></div>
    <a class="flex-sm-fill text-sm-left nav-link" th:if="${session.workingSession != null && (session.workingSession == 'INPATIENT_ENCOUNTER' || session.workingSession == 'EMERGENCY')}"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/hospital-discharge-report')} ? 'active' : ''"
       href="../hospital-discharge-report/view-section.html"
       th:href="@{/current-patient/hospital-discharge-report/view-section}"
       th:text="#{fragment.current.patient.navigation.left.hospital.discharge.report}">Hospital Discharge Report</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:if="${(session.withoutConnection != null && session.withoutConnection) || (session.workingSession != null && session.workingSession == 'OUTPATIENT_VISIT')}"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/outpatient-report')} ? 'active' : ''"
       href="../outpatient-report/view-section.html"
       th:href="@{/current-patient/outpatient-report/view-section}"
       th:text="#{fragment.current.patient.navigation.left.outpatient.report}">Outpatient Report</a>

    <div class="dropdown-divider" th:if="${(session.withoutConnection != null && session.withoutConnection) || session.workingSession != null}"></div>
    <a class="flex-sm-fill text-sm-left nav-link" th:if="${session.workingSession != null && session.workingSession == 'EMERGENCY'}"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/permanent-storage')} ? 'active' : ''"
       href="../permanent-storage/view-section.html"
       th:href="@{/current-patient/permanent-storage/view-section}"
       th:text="#{fragment.current.patient.navigation.left.store.data}">Store emergency data</a>
    <a class="flex-sm-fill text-sm-left nav-link" th:if="${(session.withoutConnection != null && session.withoutConnection) || session.workingSession != null}"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/send-to-other-hcp')} ? 'active' : ''"
       href="../send-to-other-hcp/view-section.html"
       th:href="@{/current-patient/send-to-other-hcp/view-section}"
       th:text="#{fragment.current.patient.navigation.left.send.to.other.hcp}">Send to other HCP</a>
</div>
</body>
</html>