<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>navigation</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
<div th:fragment="navigation-left" class="nav flex-column nav-pills">
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/demographic-information')} ? 'active' : ''"
       href="../demographic-information/view-section.html"
       th:href="@{/current-patient/demographic-information/view-section}"
       th:text="#{fragment.current.patient.navigation.left.demographic.information}">Demographic Information</a>
    <div class="dropdown-divider"></div>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/current-diseases')} ? 'active' : ''"
       href="../current-diseases/view-section.html"
       th:href="@{/current-patient/current-diseases/view-section}"
       th:text="#{fragment.current.patient.navigation.left.current.diseases}">Current Diseases</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/pat-history')} ? 'active' : ''"
       href="../pat-history/view-section.html"
       th:href="@{/current-patient/pat-history/view-section}"
       th:text="#{fragment.current.patient.navigation.left.pat.history}">Pat History</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/allergies-intolerances')} ? 'active' : ''"
       href="../allergies-intolerances/view-section.html"
       th:href="@{/current-patient/allergies-intolerances/view-section}"
       th:text="#{fragment.current.patient.navigation.left.allergies.intolerances}">Allergies</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/medication-summary')} ? 'active' : ''"
       href="../medication-summary/statement/view-section.html"
       th:href="@{/current-patient/medication-summary/statement/view-section}"
       th:text="#{fragment.current.patient.navigation.left.current.medications}">Current Medications</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/document-history-consultation')} ? 'active' : ''"
       href="../document-history-consultation/view-section.html"
       th:href="@{/current-patient/document-history-consultation/view-section}"
       th:text="#{fragment.current.patient.navigation.left.document.history.consultation}">Document History Consultation</a>
    <a class="flex-sm-fill text-sm-left nav-link"
       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/diagnostic-results')} ? 'active' : ''"
       href="../diagnostic-results/laboratory-results/observation-laboratory-view.html"
       th:href="@{/current-patient/diagnostic-results/laboratory-results/observation-laboratory-view}"
       th:text="#{fragment.current.patient.navigation.left.diagnostic.results.laboratory.tests}">Laboratory Tests</a>
    <div class="dropdown-divider"></div>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Visit Data</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/vital-signs/view-section}"
               th:text="#{fragment.current.patient.navigation.left.vital-signs}">Vital Signs</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/reason/view-section}"
               th:text="#{fragment.current.patient.navigation.left.reason}">Reason</a>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/ph-exam/view-section}"
               th:text="#{fragment.current.patient.navigation.left.ph.exam}">PH Exam</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/current-patient/visit-data/conclusion/view-section}"
               th:text="#{fragment.current.patient.navigation.left.conclusion}">Conclusion</a>
        </div>
    </li>
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/problems')} ? 'active' : ''"-->
<!--       href="../problems/view-section.html"-->
<!--       th:href="@{/current-patient/problems/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.problems}">Problems</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/immunization')} ? 'active' : ''"-->
<!--       href="../immunization/view-section.html"-->
<!--       th:href="@{/current-patient/immunization/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.immunization}">Immunzations</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/history-procedure')} ? 'active' : ''"-->
<!--       href="../history-procedure/procedure/view-section.html"-->
<!--       th:href="@{/current-patient/history-procedure/procedure/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.history.procedure}">History of Procedure</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/medical-devices')} ? 'active' : ''"-->
<!--       href="../medical-devices/device/view-section.html"-->
<!--       th:href="@{/current-patient/medical-devices/use-device-statement/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.medical.devices}">Medical Devices</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/vital-signs')} ? 'active' : ''"-->
<!--       href="../vital-signs/view-section.html"-->
<!--       th:href="@{/current-patient/vital-signs/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.vital-signs}">Vital Signs</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/history-past-illness')} ? 'active' : ''"-->
<!--       href="../history-past-illness/view-section.html"-->
<!--       th:href="@{/current-patient/history-past-illness/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.history-past-illness}">History of Past Illness</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/pregnancy')} ? 'active' : ''"-->
<!--       href="../pregnancy/edd/view-section.html"-->
<!--       th:href="@{/current-patient/pregnancy/edd/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.pregnancy}">Pregnancy</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/social-history')} ? 'active' : ''"-->
<!--       href="../social-history/alcohol/view-section.html"-->
<!--       th:href="@{/current-patient/social-history/alcohol/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.social-history}">Social History</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/plan-care')} ? 'active' : ''"-->
<!--       href="../plan-care/view-section.html"-->
<!--       th:href="@{/current-patient/plan-care/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.plan-care}">Plan of Care</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/functional-status')} ? 'active' : ''"-->
<!--       href="../functional-status/view-section.html"-->
<!--       th:href="@{/current-patient/functional-status/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.functional-status}">Functional Status</a>-->
<!--    <a class="flex-sm-fill text-sm-left nav-link"-->
<!--       th:classappend="${#strings.contains(#httpServletRequest.requestURI, 'current-patient/advance-directives')} ? 'active' : ''"-->
<!--       href="../advance-directives/view-section.html"-->
<!--       th:href="@{/current-patient/advance-directives/view-section}"-->
<!--       th:text="#{fragment.current.patient.navigation.left.advance-directives}">Advance Directives</a>-->
</div>
</body>
</html>