<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.pat.history}">pat history</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group btn-group-sm mr-2" role="group">
            <div class="btn-group mr-2" role="group">
                <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language of the section</a>
                <a href="#" class="btn btn-primary" th:styleappend="${!patHistoryCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/pat-history/view-section')}" th:text="#{ips.translate.button.original}">Initial version</a>
                <a href="#" class="btn btn-primary" th:styleappend="${patHistoryCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"  th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/pat-history/view-section')}" th:text="#{ips.translate.button.translated}">Translated version</a>
            </div>
        </div>
    </div>
    <p><h3 th:text="#{fragment.current.patient.navigation.left.pat.history}">Pat History</h3></p>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.diagnosis}">diagnosis</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.year.of.diagnosis}">year of diagnosis</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.comments}">comments</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patHistory : ${patHistoryCommand.getPatHistoryInfoCommandDiagnoses()}">
            <!--                            <td style="background-color: azure" th:style="${!patHistoryCommand.displayTranslatedVersion} ? '' : 'background-color: azure'" th:text="${patHistory.getDiagnosis()}">diagnosis</td>-->
            <td th:text="${patHistory.getDiagnosis()}">diagnosis</td>
            <td th:text="${{patHistory.getYearOfDiagnosis()}}">year of diagnosis</td>
            <td th:text="${patHistory.getComments()}">comments</td>
        </tr>
        </tbody>
    </table>
    <br>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{fragment.current.patient.navigation.left.pat.history.risk.factor}" style="background-color: lavender">risk factor</th>
            <th scope="col" th:text="#{fragment.current.patient.navigation.left.pat.history.yes.no}" style="background-color: lavender">yes/no</th>
        </tr>
        </thead>
        <tbody class="col-6">
        <tr>
            <th scope="row" th:text="#{fragment.current.patient.navigation.left.pat.history.hypertension}">hypertension</th>
            <td th:text="#{fragment.current.patient.navigation.left.pat.history.no}">No</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{fragment.current.patient.navigation.left.pat.history.diabetes}">diabetes</th>
            <td th:text="#{fragment.current.patient.navigation.left.pat.history.yes}">Yes</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{fragment.current.patient.navigation.left.pat.history.dyslipidemia}">dyslipidemia</th>
            <td colspan="2" th:text="#{fragment.current.patient.navigation.left.pat.history.no}">No</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{fragment.current.patient.navigation.left.pat.history.current.past.smoker}">current/past smoker</th>
            <td colspan="2" th:text="#{fragment.current.patient.navigation.left.pat.history.yes}">Yes</td>
        </tr>
        <tr>
            <th scope="row" th:text="#{fragment.current.patient.navigation.left.pat.history.family.history.of.cvd}">family history of CVD</th>
            <td colspan="2" th:text="#{fragment.current.patient.navigation.left.pat.history.no}">No</td>
        </tr>
        </tbody>
    </table>
    <br><br>

    <div class="row">
        <div class="col-4">
            <table class="table table-bordered" th:if="${!patHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.patient.history.notes}">Patient History notes</th>
                    <th th:text="#{button.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patHis : ${patHis}">
                    <td class="col-2" th:text="${patHis}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary" th:href="@{/current-patient/pat-history/delete-patHis(patHis=${patHis})}" th:text="#{crud.button.delete}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <form th:action="@{/current-patient/pat-history/save-patHis}" method="post">
                <div class="form-group">
                    <label for="patHis" th:text="#{fragment.current.patient.navigation.left.pat.history.patient.history}">Patient History</label>
                    <textarea class="form-control" name="patHis" id="patHis" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
            </form>
        </div>

        <div class="col-4">
            <table class="table table-bordered" th:if="${!socHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.social.history.notes}">Social History notes</th>
                    <th th:text="#{button.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="socHis : ${socHis}">
                    <td class="col-2" th:text="${socHis}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary" th:href="@{/current-patient/pat-history/delete-socHis(socHis=${socHis})}" th:text="#{crud.button.delete}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <form th:action="@{/current-patient/pat-history/save-socHis}" method="post">
                <div class="form-group">
                    <label for="socHis" th:text="#{fragment.current.patient.navigation.left.pat.history.social.history}">Social History</label>
                    <textarea class="form-control" name="socHis" id="socHis" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
            </form>
        </div>

        <div class="col-4">
            <table class="table table-bordered" th:if="${!famHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.family.history.notes}">Family History notes</th>
                    <th th:text="#{button.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="famHis : ${famHis}">
                    <td class="col-2" th:text="${famHis}"></td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="#" class="btn btn-primary" th:href="@{/current-patient/pat-history/delete-famHis(famHis=${famHis})}" th:text="#{crud.button.delete}">Delete</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <form th:action="@{/current-patient/pat-history/save-famHis}" method="post">
                <div class="form-group">
                    <label for="famHis" th:text="#{fragment.current.patient.navigation.left.pat.history.family.history}">Family History</label>
                    <textarea class="form-control" name="famHis" id="famHis" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>