<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.pat.history}">pat history</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
<!--    <div class="btn-toolbar float-right" role="toolbar">-->
<!--        <div class="btn-group btn-group-sm mr-2" role="group">-->
<!--            <div class="btn-group mr-2" role="group">-->
<!--                <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">language-->
<!--                    of the section</a>-->
<!--                <a href="#" class="btn btn-primary"-->
<!--                   th:styleappend="${!patHistoryCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"-->
<!--                   th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/pat-history/view-section')}"-->
<!--                   th:text="#{ips.translate.button.original}">Initial version</a>-->
<!--                <a href="#" class="btn btn-primary"-->
<!--                   th:styleappend="${patHistoryCommand.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''"-->
<!--                   th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/pat-history/view-section')}"-->
<!--                   th:text="#{ips.translate.button.translated}">Translated version</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <h3 th:text="#{fragment.current.patient.navigation.left.pat.history}">Pat History</h3>
    <br>
    <div class="alert alert-danger" role="alert" id="message1" th:if="${diagnosisDeleted != null && diagnosisDeleted}"
         th:text="#{fragment.current.patient.navigation.left.pat.history.diagnosis.deleted}">Diagnosis deleted</div>
    <script>
        setTimeout(function(){
            $('#message1').remove();
        }, 5000);
    </script>

<!--    <div class="row justify-content-end">-->
<!--        <a class="btn btn-primary" th:href="@{/current-patient/pat-history/refresh}"-->
<!--           th:text="#{fragment.current.patient.navigation.left.diagnostic.imaging.Image.Report.refresh.data}">Refresh data</a>-->
<!--    </div>-->

    <table class="table table-bordered" th:if="${!patHistoryCommand.getPatHistoryInfoCommandDiagnoses().isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.diagnosis}">diagnosis</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.diagnosis.translated}">diagnosis translated</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.year.of.diagnosis}">year of diagnosis</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.end.date.of.diagnosis}">end date</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.comments}">comments</th>
            <th th:text="#{crud.button.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patHistory : ${patHistoryCommand.getPatHistoryInfoCommandDiagnoses()}">
            <td th:text="${{patHistory.getDiagnosis()}}">diagnosis</td>
            <th style="background-color: azure" th:text="${{patHistory.getDiagnosisTranslated()}}">diagnosis translated</th>
            <td th:text="${{patHistory.getYearOfDiagnosis()}}">year of diagnosis</td>
            <td th:text="${{#temporals.format(patHistory.getEndDateOfDiagnosis(), 'dd-MM-yyyy')}}">end date</td>
            <td th:text="${patHistory.getComments()}">comments</td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-info"
                       th:href="@{/current-patient/pat-history/open-update-page(id=${{patHistory.getId()}})}"
                       th:text="#{crud.button.edit}">Edit</a>
<!--                    <a href="#" class="btn btn-danger"-->
<!--                       th:href="@{/current-patient/pat-history/delete(id=${{patHistory.getId()}})}"-->
<!--                       th:text="#{crud.button.delete}">Delete</a>-->
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <div class="alert alert-success" role="alert" id="message2" th:if="${riskFactorEdited != null && riskFactorEdited}"
         th:text="#{fragment.current.patient.navigation.left.pat.history.risk.factor.updated}">Risk factor updated</div>
    <script>
        setTimeout(function(){
            $('#message2').remove();
        }, 5000);
    </script>

    <table class="table" th:if="${!patHistoryCommand.getPatHistoryInfoCommandRiskFactors().isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.risk.factor}" style="background-color: lavender">risk factor</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.risk.factor.translated}" style="background-color: lavender">risk factor translated</th>
            <th th:text="#{fragment.current.patient.navigation.left.pat.history.yes.no}" style="background-color: lavender">yes/no</th>
            <th style="background-color: lavender" th:text="#{fragment.current.patient.navigation.left.pat.history.edit.value}">Edit value</th>
        </tr>
        </thead>
        <tbody th:each="risk : ${patHistoryCommand.getPatHistoryInfoCommandRiskFactors()}">
        <tr>
            <td th:text="${risk.getRiskFactor()}"></td>
            <th style="background-color: azure" th:text="${risk.getRiskFactorTranslated()}"></th>
            <td th:if="${risk.isState()}" class="text-warning" th:text="#{fragment.current.patient.navigation.left.pat.history.yes}"></td>
            <td th:unless="${risk.isState()}" class="text-primary" th:text="#{fragment.current.patient.navigation.left.pat.history.no}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a href="#" class="btn-sm btn-warning"
                       th:href="@{/current-patient/pat-history/editRisk(value = true, id = ${risk.getId()})}"
                       th:text="#{fragment.current.patient.navigation.left.pat.history.yes}">Yes</a>
                    <a href="#" class="btn-sm btn-primary"
                       th:href="@{/current-patient/pat-history/editRisk(value = false, id = ${risk.getId()})}"
                       th:text="#{fragment.current.patient.navigation.left.pat.history.no}">No</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <br><br>

    <div class="row">
        <div class="col-4">
            <table class="table table-bordered" th:if="${!patHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.patient.history.notes}">Patient History notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="patHis : ${patHis}">
                    <td class="col-2" th:text="${patHis}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-bordered" th:if="${!socHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.social.history.notes}">Social History notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="socHis : ${socHis}">
                    <td class="col-2" th:text="${socHis}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-4">
            <table class="table table-bordered" th:if="${!famHis.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.pat.history.family.history.notes}">Family History notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="famHis : ${famHis}">
                    <td class="col-2" th:text="${famHis}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <form class="row col-12 justify-content-center" th:action="@{/current-patient/pat-history/save}" method="post">
            <div class="form-group col-4">
                <label for="patHis" th:text="#{fragment.current.patient.navigation.left.pat.history.patient.history}">Patient History</label>
                <textarea class="form-control" name="patHis" id="patHis" rows="3"></textarea>
            </div>
            <div class="form-group col-4">
                <label for="socHis" th:text="#{fragment.current.patient.navigation.left.pat.history.social.history}">Social History</label>
                <textarea class="form-control" name="socHis" id="socHis" rows="3"></textarea>
            </div>
            <div class="form-group col-4">
                <label for="famHis" th:text="#{fragment.current.patient.navigation.left.pat.history.family.history}">Family History</label>
                <textarea class="form-control" name="famHis" id="famHis" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
        </form>
    </div>
</div>
</body>
</html>