<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.reason}">reason</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <p>
    <h3 th:text="#{fragment.current.patient.navigation.left.reason}">reason</h3></p>
    <div class="m-4"></div>

        <div class="container">
            <header>
            <h4>List of symptoms</h4>
            </header>
            <table class="table table-bordered">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{template.administration.prescriptions.nomenclature.name}">Reason</th>
                    <th th:text="#{button.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="reason : ${reasons}">
                    <td th:text="${reason.getSymptom}"></td>
                    <td>
                        <a th:href="@{/current-patient/visit-data/reason/delete(symptomId=${reason.getId()})}" class="btn btn-danger ml-2">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    <ul id="dynamic-list"></ul>

    <div class="m-5"></div>

    <div>
        <h3>Add Symptom</h3>
        <hr/>
        <form th:action="@{/current-patient/visit-data/reason/save-add}" th:object="${reason}" method="POST">
            <input type="text" th:field="*{symptom}" class="form-control col-4 mb-4" placeholder="Enter Symptom" />
            <button type="submit" class="btn btn-primary col-2">Save</button>
            <input type="hidden" th:field="*{symptom}" />
        </form>
        <hr/>
    </div>

</div>

</body>
</html>