<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.current.medications.medication.statement}">medication statement</title>
</head>
<body>
<div layout:fragment="content">
    <div th:replace="current-patient/current-medications/fragments/navigation::navigation-top">navigation-top</div>
    <p><h5 th:text="#{template.current.patient.current.medication.statement.add}">add medication statement</h5></p>
    <form action="#" th:action="@{/current-patient/current-medications/statement/save-add}" th:object="${currentMedicationsStatementCommand}" method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">please correct the errors below</p>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label for="medication" th:text="#{template.current.patient.current.medication.statement.medication}">medication</label>
                <input id="medication" type="text" class="form-control" th:classappend="${#fields.hasErrors('medication')} ? 'is-invalid' :''" th:field="*{medication}"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('medication')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('medication')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label for="status" th:text="#{template.current.patient.current.medication.statement.status}">status</label>
                <select id="status" class="form-control" th:classappend="${#fields.hasErrors('status')} ? 'is-invalid' :''" th:field="*{status}">
                    <option value="" selected th:text="#{input.select.option.no.value}">choose...</option>
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('status')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('status')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label for="effective" th:text="#{template.current.patient.current.medication.statement.effective}">effective</label>
                <input id="effective" type="text" class="form-control" th:classappend="${#fields.hasErrors('effective')} ? 'is-invalid' :''" readonly th:field="*{effective}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('effective')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('effective')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#effective').datetimepicker({
                            format: 'dd-mm-yyyy',
                            minView: "month"
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12">
                <label for="patientInstructions" th:text="#{template.current.patient.current.medication.statement.dosage.patient.instructions}">patient instructions</label>
                <input id="patientInstructions" type="text" class="form-control" th:classappend="${#fields.hasErrors('patientInstructions')} ? 'is-invalid' :''" th:field="*{patientInstructions}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('patientInstructions')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('patientInstructions')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-right"><br>
            <button type="submit" class="btn btn-primary" th:text="#{crud.button.save}">save</button>
        </div>
    </form>
</div>
</body>
</html>