<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            th:src="@{/webjars/bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js}"></script>

    <title th:text="#{fragment.current.patient.navigation.left.instr.exam.add}">Add Instrumental examination</title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-3"></div>
    <h2 th:text="#{fragment.current.patient.navigation.left.instr.exam.add}">Add Instrumental examination</h2>
    <div class="m-5"></div>
    <form action="#" th:action="@{/current-patient/visit-data/instr-exam/save-add}" th:object="${instrExamInfoCommand}" enctype="multipart/form-data"
          method="post">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
            <p th:text="#{template.errors.message}">Please correct the errors below</p>
        </div>

        <div class="form-row">
            <div class="col-md-4">
                <label for="type" th:text="#{fragment.current.patient.navigation.left.instr.exam.type}">Type</label>
                <select class="form-control" id="type" th:field="*{type}">
                    <option selected value="" th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.type}">Choose a type</option>
                    <option input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' :''" value="ECHO"
                            th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.ECHO}">ECHO
                    </option>
                    <option input type="text" class="form-control"
                            th:classappend="${#fields.hasErrors('type')} ? 'is-invalid' :''" value="ECG"
                            th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.ECG}">ECG
                    </option>
                </select>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('type')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('type')}" th:text="${err}">err</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label for="author" th:text="#{fragment.current.patient.navigation.left.instr.exam.author}">Author</label>
                <input id="author" type="text" class="form-control" th:classappend="${#fields.hasErrors('author')} ? 'is-invalid' :''" th:field="*{author}">
            </div>
            <div class="col-md-4">
                <label for="date" th:text="#{fragment.current.patient.navigation.left.instr.exam.date}">Date</label>
                <input id="date" type="text" class="form-control" th:classappend="${#fields.hasErrors('date')} ? 'is-invalid' :''" readonly th:field="*{date}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('date')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('date')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#date').datetimepicker({
                            format: 'dd-mm-yyyy',
                            minView: "month"
                        });
                    });
                </script>
            </div>
        </div>

        <div>
            <div class="col-md-12"><br>
                <label for="fileContent" th:text="#{fragment.current.patient.navigation.left.instr.exam.file}">File</label>
                <input id="fileContent" type="file" name="fileContent" class="form-control-file" th:classappend="${#fields.hasErrors('fileContent')} ? 'is-invalid' :''" th:field="*{fileContent}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('fileContent')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('fileContent')}" th:text="${err}">err</li>
                    </ul>
                </div>
                <br>
                <div class="text-right"><input class="btn btn-primary" type="submit" value="Save"/></div>
            </div>
        </div>
    </form>

</div>
</body>
</html>