<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.instr.exam.view}">View Instrumental examination</title>
</head>

<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <h3 th:text="#{fragment.current.patient.navigation.left.instr.exam}">ph exam</h3>
    <br>
    <script>
        setTimeout(function () {
            $('#message').remove();
        }, 5000);
    </script>

    <table class="table table-bordered"
           th:if="${!instrExamCommand.getInstrumentsExaminationInfoCommandsExamInfoCommands().isEmpty()}">
        <thead class="thead-light">
        <tr>
            <th th:text="#{fragment.current.patient.navigation.left.instr.exam.type}">Type</th>
            <th th:text="#{fragment.current.patient.navigation.left.instr.exam.author}">Author</th>
            <th th:text="#{fragment.current.patient.navigation.left.instr.exam.date}">Date</th>
            <!--            <th th:text="#{fragment.current.patient.navigation.left.instr.exam.file}">File</th>-->
            <th th:text="#{crud.button.actions}">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="exam : ${instrExamCommand.getInstrumentsExaminationInfoCommandsExamInfoCommands()}">
            <td>
                <th:block th:switch="${exam.getType().toString().toUpperCase()}">
                    <div th:case="'ECHO'">
                        <p th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.ECHO}">ECHO</p>
                    </div>
<!--                    <div th:case="'XRAY'">-->
<!--                        <p th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.XRAY}">XRAY</p>-->
<!--                    </div>-->
<!--                    <div th:case="'MRI'">-->
<!--                        <p th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.MRI}">MRI</p>-->
<!--                    </div>-->
                    <div th:case="'ECG'">
                        <p th:text="#{fragment.current.patient.navigation.left.ph.exam.choose.ECG}">ECG</p>
                    </div>
                </th:block>
            </td>
            <td th:text="${{exam.getAuthor()}}"></td>
            <td th:text="${{#temporals.format(exam.getDate(), 'dd-MM-yyyy')}}"></td>
            <!--            <td th:text="${{exam.getData()}}"></td>-->
            <td>
                <div class="btn-group" role="group">
                    <a href="#" class="btn btn-info"
                       th:href="@{/current-patient/visit-data/instr-exam/open-update-page(id=${{exam.getId()}})}"
                       th:text="#{crud.button.edit}">Edit</a>
                    <a href="#" class="btn btn-warning"
                       th:href="@{/current-patient/visit-data/instr-exam/view(id=${{exam.getId()}})}"
                       th:text="#{crud.button.view}">View</a>
                    <a href="#" class="btn btn-danger"
                       th:href="@{/current-patient/visit-data/instr-exam/delete(id=${{exam.getId()}})}"
                       th:text="#{crud.button.delete}">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btn-toolbar float-right" role="toolbar" th:if="${patient != null}">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-primary"
               th:href="@{/current-patient/visit-data/instr-exam/open-add-page}" th:text="#{crud.button.add}">Add</a>
        </div>
    </div>

    <br>
    <br>
    <div class="m-5"></div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" th:if="${!resultList.isEmpty()}">
                <thead class="thead-light">
                <tr>
                    <th th:text="#{fragment.current.patient.navigation.left.instr.exam.notes}">Result notes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="result : ${resultList}">
                    <td class="col-2" th:text="${result}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <form class="row col-12 justify-content-center" th:action="@{/current-patient/visit-data/instr-exam/save}" th:object="${resultInfoList}" method="post">
            <div class="form-group col-12">
                <label for="result" th:text="#{fragment.current.patient.navigation.left.instr.exam.result}">Result</label>
                <textarea class="form-control" name="result" id="result" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2" th:text="#{button.save}">Save</button>
        </form>
    </div>
</div>
</body>
</html>