<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.instr.examination}">Instrumental examination</title>
</head>
<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <p>
                    <h3 th:text="${instrExamInfoCommand.getType()}">Examination Type</h3></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{fragment.current.patient.navigation.left.instr.exam.author}">Author</h5>
                    <p class="card-text" th:text="${instrExamInfoCommand.getAuthor()}">Author</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{fragment.current.patient.navigation.left.instr.exam.date}">Date</h5>
                    <p class="card-text" th:text="${instrExamInfoCommand.getDate()}">Date</p>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="#{fragment.current.patient.navigation.left.instr.exam.notes}">Date</h5>
                    <p class="card-text" th:text="${instrExamInfoCommand.getResultNote()}">Date</p>
                </div>
                <!--                <div class="card-body">-->
                <!--                    <h5 class="card-title" th:text="#{fragment.current.patient.navigation.left.instr.exam.file}">File</h5>-->
                <!--                    <p class="card-text" th:text="${instrExamInfoCommand.getFile()}">File</p>-->
                <!--                </div>-->

            </div>
        </div>
    </div>

    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-primary" th:href="@{/current-patient/visit-data/instr-exam/view-section}"
               th:text="#{button.back}">Back</a>
        </div>
    </div>
</div>
</body>
</html>