<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutadministration}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{template.administration.health.care.professional.title}">Practitioner</title>
</head>
<body>
<div layout:fragment="content">
    <p><h5 th:text="#{template.administration.health.care.professional.title.upload.Certificate}">upload practitioner certificate</h5></p>
    <form  method="post" enctype="multipart/form-data" th:action="@{/administration/health-care-professional/uploadFile}" th:object="${certificate}">
        <label class="control-label" th:text="#{template.administration.select.file}">Select File</label>
        <input id="file" name="file" type="file" class="file">
        <button type="submit" class="btn btn-primary" th:text="#{button.submit}">Submit</button>
    </form>
</div>
</body>
</html>
