<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutadministration}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{template.administration.health.care.professional.title}">Practitioner</title>
</head>

<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 th:text="#{template.administration.health.care.professional.title}">Practitioner</h5>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img src="..." th:src="${healthCareProfessional.picture}" alt="available at runtime" height="130" width="110"/>
                    </div>

                    <h5 class="card-title" th:text="#{template.administration.health.care.professional.card.body.title.first.name}">First Name</h5>
                    <p class="card-text" th:text="${healthCareProfessional.firstName}">First name</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.professional.card.body.title.last.name}">Last name</h5>
                    <p class="card-text" th:text="${healthCareProfessional.lastName}">Last name</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.professional.card.body.title.occupation.group}">Occupation Group</h5>
                    <p class="card-text" th:text="${healthCareProfessional.occupationGroup}">Occupation group</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.professional.card.body.title.occupation.name}">Occupation</h5>
                    <p class="card-text" th:text="${healthCareProfessional.occupationName}">Occupation</p>

                    <h5 class="card-title" th:text="#{template.administration.health.care.professional.card.body.title.address}">Address</h5>
                    <p class="card-text" th:text="${healthCareProfessional.address}">Address</p>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group" role="group">
            <a href="#" class="btn btn-primary" th:href="@{/administration/health-care-professional/open-add-page}" th:text="#{button.upload.certificate}">upload certificate</a>
        </div>
    </div>
</div>
</body>
