<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.conclusion}">conclusion</title>
</head>

<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-3">
            <div th:replace="current-patient/fragments/navigation::navigation-left">navigation-left</div>
        </div>
        <div class="col-9">
            <p><h3 th:text="#{fragment.current.patient.navigation.left.conclusion}">conclusion</h3></p>
        </div>
    </div>
</div>
</body>
</html>