<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layoutcurrentpatient}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs}">vital signs</title>
</head>
<style>
    .scrollBar {
        width: auto;
        overflow-x: auto;
        white-space: nowrap;
    }
</style>
<body>
<div layout:fragment="content">
    <div class="m-5"></div>
    <div class="btn-toolbar float-right" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <a href="#" class="btn disabled" style="background-color: lightgray" th:text="#{ips.translate.label}">Language of the section</a>
            <a href="#" class="btn btn-primary" th:styleappend="${!vitalSigns.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='false', redirect-to='/current-patient/visit-data/vital-signs/view-section')}" th:text="#{ips.translate.button.original}">Initial version</a>
            <a href="#" class="btn btn-primary" th:styleappend="${vitalSigns.getDisplayTranslatedVersion()} ? 'background-color: darkblue' : ''" th:href="@{/current-patient/switch-display-language(displayTranslatedVersion='true', redirect-to='/current-patient/visit-data/vital-signs/view-section')}" th:text="#{ips.translate.button.translated}">Translated version</a>
        </div>
    </div>
    <p>
    <h3 th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs}">vital signs</h3></p>

    <div class="scrollBar">
        <table class="table table-bordered">
            <thead class="thead-light">
            <th th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs.analysis}">Analysis
            </th>
            <th:block th:each="sample : ${vitalSigns.localDateTimeListWithoutDuplicates()}">
                <th th:text="${{sample}}"></th>
            </th:block>
            </thead>

            <tbody>
            <tr th:each="an : ${vitalSigns.vitalSignsAnalysesWithoutDuplicates()}">
                <div th:with="map=${vitalSigns.valueReturn()}">
                    <td th:text="${{an}}"></td>
                    <th:block th:each="sample : ${vitalSigns.localDateTimeListWithoutDuplicates()}">
                        <td th:if="${map.get(an,sample) == null}">-</td>
                        <div th:if="${map.get(an,sample) != null}">
                            <td th:text="${{map.get(an,sample)}}"></td>
                        </div>
                    </th:block>
                </div>
            </tr>
            </tbody>
        </table>

        <p th:if="${!vitalSignsUpload.getVitalSignsInfoCommands().isEmpty()}"><br>
        <h5 th:if="${!vitalSignsUpload.getVitalSignsInfoCommands().isEmpty()}" th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs.to.upload.in.sehr}">Vital Signs to upload in S-EHR</h5></p>

        <table class="table table-bordered" th:if="${!vitalSignsUpload.getVitalSignsInfoCommands().isEmpty()}">
            <thead class="thead-light">
            <tr>
                <th th:text="#{fragment.current.patient.navigation.left.visit.data.vital.signs.analysis}">Analysis</th>
                <th:block th:each="sample : ${vitalSignsUpload.localDateTimeListWithoutDuplicates()}">
                    <th th:text="${{sample}}"></th>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="an : ${vitalSignsUpload.vitalSignsAnalysesWithoutDuplicates()}">
                <div th:with="map=${vitalSignsUpload.valueReturn()}">
                    <td th:text="${{an}}"></td>
                    <th:block th:each="sample : ${vitalSignsUpload.localDateTimeListWithoutDuplicates()}">
                        <td th:if="${map.get(an,sample) == null}">-</td>
                        <div th:if="${map.get(an,sample) != null}">
                            <td th:text="${{map.get(an,sample)}}"></td>
                        </div>

                    </th:block>
                </div>
            </tr>
            </tbody>
        </table>
        <div class="btn-toolbar float-right" role="toolbar">
            <div class="btn-group" role="group">
                <a href="#" class="btn btn-primary" th:href="@{/current-patient/visit-data/vital-signs/open-add-page}" th:text="#{crud.button.add}">Add</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>