<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="#{fragment.main.navigation.top.test-d2d-library}">Test D2D Library</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"
            th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header::navigation-top">navigation-top</div>
<div class="container">
    <div class="m-3">
        <div class="row justify-content-center">
            <a href="#" class="btn btn-primary" th:href="@{/test-d2d-library/open-connection}">Open connection</a>
        </div>
    </div>
    <div class="m-3">
        <div class="row justify-content-center">
            <a href="#" class="btn btn-primary" th:href="@{/test-d2d-library/close-connection}">Close connection</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-primary" th:href="@{/test-d2d-library/send-date}">Send Information</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <a href="#" class="btn btn-primary" th:href="@{/test-d2d-library/display-date}">Display Information</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>